<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<script src="__HOME__/js/countDown.js"></script>
<body class="" style="padding-bottom:56px;">

	<!-- 返回 -->
	<div class="back_box">
		团购详情
		<a class="back_icon" href="javascript:history.back(-1)">
			<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</a>
	</div>

{include file="public:top"}

	<div class="scenic_box">
		<div class="scenic_top col_white am-text-sm">
			<div class="scenic_bg bg_cover" style="background-image: url(__HOME__/img/common_bg_pic.jpg);"></div>
			<h2 class="mar_btm_6"><span class="mar_rt_12 am-text-lg font_bold">{$re.name}</span></h2>
			
			<div class="scenic_banner bg_cover bd_radius box_shadow" style="background-image:url({$re.image});">
			</div>
		</div>

		<div class="piao_bg flex_between p_12 col_white">
			<div>￥<span class="am-text-xl mar_rt_6">{$re.price}</span>起</div>
			<div>{$re.group_number}人</div>
		</div>

		<div class="p_12" >
			<h6 class="mar_btm_12">{$re.tag}</h6>
			<!-- <div class="flex_between mar_btm_12 am-text-sm">
				<div>活动进度<span class="mar_lt_6 col_main">50%</span></div>
				<div>仅剩666名额</div>
			</div>
			<div class="am-progress am-progress-striped" style="border-radius:200px;overflow:hidden;height: 14px;margin-bottom: 0;">
				<div class="am-progress-bar am-progress-bar-danger" style="width: 50%"></div>
			</div> -->
		</div>
       {notempty name="$res"}
		<div class="piao_all bd_btm pad_12 flex_between pad_btm_12" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 350}">
			<h5>{$cou}人在拼单，可直接参与</h5>
			<div class="flex_normal">
				<span class="mar_rt_12 am-text-sm">全部</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
			</div>
		</div>
	   {/notempty}
	   {notempty name="$res"}
		<ul>
		 {volist name="res" id="v" key="k" offset="0" length="2"}	
			<li class="bd_btm p_12 flex_between">
				<div class="flex_normal">
					<img class="bd_radius_50 mar_rt_12" src="{$v.image}" width="36" height="36" alt=""><span>{$v.nickname}</span>
				</div>
				<div class="flex_normal">
					<div class="am-text-right am-text-sm">
						<div>还差<span class="col_main">{$v.nums}人</span>拼成</div>
						<div class="count_down_{$k}">剩余<span class="hour_num_{$k}">00</span>:<span class="min_num_{$k}">00</span>:<span class="sec_num_{$k}">00</span></div>
					</div>
					<a href="{:url('Index/assemble',array('id'=>$v['id']))}" class="am-btn am-btn-danger bd_radius mar_lt_12">去拼单</a>
				</div>
			</li>

			<script>
				
				var date = "{$v.dates}";
				var num = "{$k}";
			 		//倒计时
		$(".count_down_"+num).countDown({
			endTimeStr: date, //结束时间
			daySelector: ".day_num_"+num,
			hourSelector: ".hour_num_"+num,
			minSelector: ".min_num_"+num,
			secSelector: ".sec_num_"+num
		})
			</script>
			
		{/volist}
		</ul>
		
	

	</script>
		{/notempty}

		<div class="bd_btm_10">
			<div class="p_12">
				<div class="scenic_intro flex_between mar_btm_6">
					<h4>团购规则</h4>
					<div class="flex_normal">
						<span class="mar_rt_12 col_nine am-text-sm">展开</span><img class="icon" src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
					</div>
				</div>
				<div class="scenic_cont am-text-sm">
					{$rule.desc}
				</div>
			</div>
		</div>

	

		<div class="bd_btm_10">
			<div class="pad_12">
				<h4>团购详情</h4>
			</div>
			<div class="detail_box">
				{$re.content}
			</div>
		</div>

		<div class="hotel_fixed flex_normal bg_white bd_top">
			<div class="pad_12 flex_1">
				拼团价 ￥<span class="col_main am-text-lg font_bold">{$re.floor_price}</span>
			</div>
			<a id="qiang_gou" href="javascript:;" class="am-btn am-btn-danger" style="line-height:36px;">发起拼团</a>
		</div>

	</div>

	<!-- 抢购弹窗 -->
	<div class="common_bg" id="gou_bg"></div>
	<div class="hotel_tan bg_white p_12" id="hotel_tan">

		<form action="piao_invite.html">
			<div class="flex_normal pd_12 bd_btm mar_btm_12">
				<div class="hotel_piao mar_rt_12 bg_cover" style="background-image:url({$re.image});"></div>
				<div class="flex_1">
					<div class="hotel_wrap">
						<h3 class="am-text-truncate">{$re.name}</h3>
						<div class="flex_1 am-text-sm col_nine">{$re.tag}</div>
						<div class="flex_between">
							<!-- <span class="col_deputy">抢购</span> -->
							<div class="col_main mar_rt_6 am-text-default">￥{$re.floor_price}</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="mar_btm_12 bd_btm">
				<h6 class="mar_btm_12">种类</h6>
				<ul class="flex_normal flex_wrap am-text-sm">
					<li class="feed_item active">3-5人</li>
					<li class="feed_item">7-9人</li>
					<li class="feed_item">10人以上</li>
				</ul>
			</div> -->

			<div class="flex_between mar_btm_12">
				<h6>购买数量</h6>
				<div class="num_form flex_between">
	<a href="javascript:;" class="num_minus">-</a>
	<input type="number" name="num" min="1" max="{$re.buy_num}" readonly value="1" class="num_ipt" />
	<a href="javascript:;" class="num_plus">+</a>
</div>
			</div>

			<button class="confirm_btn" type="button" id="btn">立即购买</button>

		</form>

		<img class="hotel_close" id="hotel_close" src="__HOME__/img/icon_tan_close.png" width="20" height="20" alt="">

	</div>

  <script>
    $("#btn").click(function(){
		var id = "{$re.id}";
		var num = $("input[name=num]").val();

		$.ajax({
			type:"post",
			url:"{:url('Assemble/save')}",
			data:{id:id,num:num},
			dataType:"text",
			success:function(re){
				 if(re == 0){
					 layer.msg("系统繁忙,请稍后再试");
					 setTimeout("location.href=\"{:url('Assemble/index')}\"",2000);
				 }else{
					 location.href="{:url('Assemble/buy')}?id="+re;
				 }
			}
		})
		
	})
  </script>	

	<!-- 全部拼单弹窗 -->
	<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
		<div class="am-modal-dialog bd_radius">
			<div class="am-modal-hd">当前所有拼单
				<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
			</div>
			<ul style="padding:12px 0;max-height:240px;overflow-y:scroll;">
			 	
					{volist name="res" id="v" key="k" }	
					<li class="bd_btm p_12 flex_between">
						<div class="flex_normal">
							<img class="bd_radius_50 mar_rt_12" src="{$v.image}" width="36" height="36" alt=""><span>{$v.nickname}</span>
						</div>
						<div class="flex_normal">
							<div class="am-text-right am-text-sm">
								<div>还差<span class="col_main">{$v.nums}人</span>拼成</div>
								<div class="count_down_{$k}">剩余<span class="hour_num_{$k}">00</span>:<span class="min_num_{$k}">00</span>:<span class="sec_num_{$k}">00</span></div>
							</div>
							<a href="{:url('Index/assemble',array('id'=>$v['id']))}" class="am-btn am-btn-danger bd_radius mar_lt_12">去拼单</a>
						</div>
					</li>
		
					<script>
						
						var date = "{$v.dates}";
						var num = "{$k}";
							 //倒计时
				$(".count_down_"+num).countDown({
					endTimeStr: date, //结束时间
					daySelector: ".day_num_"+num,
					hourSelector: ".hour_num_"+num,
					minSelector: ".min_num_"+num,
					secSelector: ".sec_num_"+num
				})
					</script>
					
				{/volist}
			
			</ul>
		</div>
	</div>



	<!-- <script>
	$(function () {
		//商品数量加减
		var $plus = $('.num_plus'),
			$reduce = $('.num_minus'),
			$all_sum = $('.num_ipt');

		$plus.click(function () {
			var $inputVal = $(this).prev('input'),
				$count = parseInt($inputVal.val()) + 1,
				$obj = $(this).parents('.num_form').find('.num_minus');
			$inputVal.val($count);
		})

		$reduce.click(function () {
			var $inputVal = $(this).next('input'),
				$count = parseInt($inputVal.val()) - 1;
			if ($inputVal.val() <= 1) {
				return;
			}
			$inputVal.val($count);
		})
	})
</script> -->

	<script>
		function showMore(ele1, ele2) {
			if (ele1.hasClass('active') && ele2.hasClass('active')) {
				ele1.removeClass('active')
				ele1.find('span').html('展开')
				ele2.removeClass('active')
			} else {
				ele1.addClass('active')
				ele1.find('span').html('收起')
				ele2.addClass('active')
			}
		}

		$(function () {			

			// 简介
			$('.scenic_intro').click(function () {
				showMore($(this), $('.scenic_cont'))
			})

			// 种类切换
			$('.feed_item').click(function () {
				switchClas($(this), 'active')
			})

			// 立即抢购弹窗
			$('#qiang_gou').click(function () {
				$('#hotel_tan').slideDown()
				$('#gou_bg').fadeIn()
			})

			$('#gou_bg').click(function () {
				$(this).fadeOut()
				$('#hotel_tan').slideUp()
			})

			$('#hotel_close').click(function () {
				$('#gou_bg').fadeOut()
				$('#hotel_tan').slideUp()
			})


		


		})
	</script>

</body>

</html>