<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<body class="">
		<div class="back_box">
				
				<ul class="bread">
						<li>
						 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						</li>
						<li>
						 <a href="{:url('Assemble/index')}">拼团</a>&nbsp;&gt;
						</li>
						<li>
						<a href="javascript:;">拼团记录</a>
						</li>
					   </ul>			
			</div>
	<!-- 公共顶部 -->
{include file="public:top"}

	<ul class="order_hd flex_around bd_btm">
		
		<li class="order_item active tab_item">拼团中</li>
		<li class="order_item tab_item">拼团成功</li>
		<li class="order_item tab_item">拼团失败</li>
	</ul>

	<div class="tab_wrap">
		<div class="tab_cont p_12 active">
			<ul>
				{volist name="rec" id="vc"}
				<li class="pd_12 bd_btm">
						<a class="ticket_piao" href="{:url('Index/assemble',array('id'=>$vc['id']))}">
						<img class="mar_rt_12 mar_top_6" src="__HOME__/img/icon_ticket.png" width="20" height="20" alt="">
	<div class="flex_1">
		<span class="am-text-truncate am-block mar_btm_6">{$vc.name}</span>
		<div class=" col_nine mar_btm_6">所需人数：{$vc.number}</div>
		<div class=" col_nine">商品价格:{$vc.price}</div>
	</div>
	<div class="mar_lt_12">￥{$vc.floor_price}</div>
	
	<span class="ticket_status col_main">拼团中</span>
</a>
					</li>
                 {/volist}
			</ul>
			<div class="no_data">没有更多信息~</div>
		</div>
		<div class="tab_cont p_12">
			<ul>
					{volist name="res" id="vs"}
					<li class="ticket_piao pd_12 bd_btm">
					
							<img class="mar_rt_12 mar_top_6" src="__HOME__/img/icon_ticket.png" width="20" height="20" alt="">
							<div class="flex_1">
									<a href="javascript:;" class="am-text-truncate am-block mar_btm_6">{$vs.name}</a>
									<div class=" col_nine mar_btm_6">所需人数：{$vs.number}</div>
									<div class=" col_nine">商品价格:{$vs.price}</div>
								</div>
								<div class="mar_lt_12">￥{$vs.floor_price}</div>
		
							<span class="ticket_status col_main">拼团成功</span>
						
						</li>
						{/volist}
			</ul>
			<div class="no_data">没有更多信息~</div>
		</div>
		<div class="tab_cont p_12">
			<ul>
					{volist name="reg" id="vg"}
				<li class="ticket_piao pd_12 bd_btm">
					<img class="mar_rt_12 mar_top_6" src="__HOME__/img/icon_ticket.png" width="20" height="20" alt="">
					<div class="flex_1">
							<a href="javascript:;" class="am-text-truncate am-block mar_btm_6">{$vg.name}</a>
							<div class=" col_nine mar_btm_6">所需人数：{$vg.number}</div>
							<div class=" col_nine">商品价格:{$vg.price}</div>
						</div>
						<div class="mar_lt_12">￥{$vg.floor_price}</div>

						<span class="ticket_status col_main">拼团失败</span>
				</li>
				{/volist}
			</ul>
			<div class="no_data">没有更多信息~</div>
		</div>
	</div>
	<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定取消此订单吗？', {icon: 3}, function(index){
		    layer.close(index);
        $.ajax({
          type:"post",
          url:"__URL__/delete_dd",
            data:{id:id},
            datatype:"text",
            success:function(re){
               if(re == 0){
                  layer.msg("操作成功");
                  setTimeout("location.reload()",1000);
               }else{
                   layer.msg("操作失败");
                  setTimeout("location.reload()",1000);
               }
              
            }
        })
		  });
	    }
		</script>
</body>

</html>