<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">砍价信息</li>
        </ul>

      </div>

      <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
        <ul class="nav nav-list header-nav" id="header-nav">
            <li>
                <a href="{:url('Bargain/lister')}">
                  <o class="font12 {if condition='$status eq 3 '} rigbg {/if}">全部</o>
                </a>
              <b class="arrow"></b>
            </li>
            <li>
                <a href="{:url('Bargain/lister',array('status'=>0))}">
                  <o class="font12 {if condition='$status eq 0 '} rigbg {/if}">砍价中</o>
                </a>
              <b class="arrow"></b>
            </li>
            
            <li>
                <a href="{:url('Bargain/lister',array('status'=>1))}">
                  <o class="font12 {{if condition='$status eq 1 '} rigbg {/if}">砍价成功</o>
                </a>
              <b class="arrow"></b>
            </li>

            <li>
              <a href="{:url('Bargain/lister',array('status'=>2))}">
                <o class="font12 {if condition='$status eq 2 '} rigbg {/if}">砍价失败</o>
              </a>
            <b class="arrow"></b>
          </li>
        

                                
        </ul>
      </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                <div class="col-sm-4">
             
               
                </div>

                <div class="col-sm-8 clearfix">
                  <form class="form-inline pull-right" action="">
                    
                   
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-check"></i>
									</span>
                        <input type="text" name="title"  class="form-control search-query" value="{$title}" placeholder="请输入商品名称">
                        <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                      </div>
                    </div>
                  </form>
                </div> 
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                 
                  <th>ID</th>
                  <th>商户名称</th>  
                  <th>用户手机号</th>  
                  <th>商品名称</th>
                  <th>商品价格</th>
                  <th>最低价</th>
                  <th>参与人数</th>
                  <th>已砍价格</th>
                  <th style="border-right:#ddd solid 1px;width:7%;" >状态</th>
                </tr>
                </thead>
             
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  <td>{$v.username}</td>
                  <td>{$v.phone}</td>
                  <td>{$v.name}</td>
                  <td>{$v.price}</td>
                  <td>{$v.floor_price}</td>
                  <td>{$v.number}</td>
                  <td>{$v.already_price}</td>
                 
            
                

                  <td>
                    {if condition="$v.status eq 0"}<span>砍价中</span>{/if}
                    {if condition="$v.status eq 1"}<span style="color:green;">砍价成功</span>{/if}
                    {if condition="$v.status eq 2"}<span style="color:red;">砍价失败</span>{/if}
                  </td>
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
             
              </table>
              <div class="text-center">
                {$page}
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

 {include file="public:header"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/delete/id/"+id;
		  });
	    }
		</script>
<script>
function changes(id){
	$.ajax({
		type:"post",
		url:"__URL__/changes",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changeu(id){
	$.ajax({
		type:"post",
		url:"__URL__/changeu",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changea(id){
	$.ajax({
		type:"post",
		url:"__URL__/changea",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changel(id){
	$.ajax({
		type:"post",
		url:"__URL__/changel",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changess(id){
	$.ajax({
		type:"post",
		url:"__URL__/changess",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changeh(id){
	$.ajax({
		type:"post",
		url:"__URL__/changeh",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changek(id){
	$.ajax({
		type:"post",
		url:"__URL__/changek",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
</script>


  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
