<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

		<div class="back_box">
				
				<ul class="bread">
						<li>
						 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						</li>
						<li>
						 <a href="{:url('Question/index')}">问答</a>&nbsp;&gt;
						</li>
						<li>
						<a href="javascript:;">问答详情</a>
						</li>
					   </ul>			
			</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<div class="p_12">
		<div class="travel_banner bd_radius bg_cover" style="background-image: url({$lb.image});"></div>
	</div>

	<div class="flex_between p_12 bg_white bd_btm">
		<div class="title_left am-text-lg">问答</div>
		<ul class="ques_menu flex_normal ">
				<li  class="active"  ><a class="am-block" href="{:url('Question/index')}">全部</a></li>
				<li  class="" ><a class="am-block" href="{:url('Question/index',array('id'=>1))}">最新</a></li>
		</ul>
	</div>

	<div class="bd_btm_10">
		<div class="p_12">
			<h3 class="am-text-truncate mar_btm_6 am-text-lg">{$re.title}</h3>
			<div class="ques_txt fold_content">
					{$re.content}
				</div>
				<div class="more-wrap">
					<div class="more-inner">【详情】</div>
				</div>
			<div class="flex_between">
               {empty name="$user"}
				<div class="flex_normal"><img class="bd_radius_50 mar_rt_6" src="__HOME__/img/common_pic.jpg" width="30" height="30" alt=""><span>匿名</span></div>
			   {else /}
			   <div class="flex_normal"><img class="bd_radius_50 mar_rt_6" src="{$user.image}" width="30" height="30" alt=""><span>{$user.nickname}</span></div>
				{/empty}
				<span class=" col_nine">{$re.time|date="Y-m-d",###}</span>
			</div>
		</div>
	</div>

	<div class="p_12 bd_btm am-text-lg">共{$cou}个回答</div>

	<div class="ques_unit">
	 {notempty name="$res"}	
		<div class="ques_wrap">

			{volist name="res" id="v"}
			{notempty name="$v['nickname']"}
			<div class="p_12 bd_btm">
	<div class="flex_normal mar_btm_12"><img class="bd_radius_50 mar_rt_6" src="{$v.image}" width="30" height="30" alt=""><span>{$v.nickname}</span></div>
	{else /}
	<div class="p_12 bd_btm">
			<div class="flex_normal mar_btm_12"><img class="bd_radius_50 mar_rt_6" src="__HOME__/img/common_pic.jpg" width="30" height="30" alt=""><span>匿名</span></div>
	{/notempty}
	<div class="ques_txt fold_content">
		{$v.content}
	</div>
	<div class="more-wrap">
			<div class="more-inner">【详情】</div>
		</div>
</div>
			{/volist}
		</div>
		{else /}
		<div class="no_data">没有更多回答~</div>
		{/notempty}
	</div>
	
	<!-- 提问图片 -->
	<a class="pic_position pic_ask am-block" href="{:url('Question/ask')}"><img src="__HOME__/img/ask_pic.png" width="60" height="60" alt=""></a>

	<!-- 回答图片 -->
	<a class="pic_position pic_answer am-block" href="{:url('Question/answer',array('qid'=>$re['id']))}"><img src="__HOME__/img/answer_pic.png" width="102" height="45" alt=""></a>


</body>

</html>