<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="" style="padding-bottom: 100px;">

	<!-- 返回 -->
	<div class="back_box">
		
		<ul class="bread">
				<li>
				 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
				</li>
				<li>
				 <a href="{:url('Food/index')}">美食</a>&nbsp;&gt;
				</li>
				<li>
				<a href="javascript:;">美食详情</a>
				</li>
			   </ul>
	</div>

	<!-- banner -->
	<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
		<ul class="am-slides">
			<li class="hotel_item travel_item hotel_banner" style="background-image: url({$re.image})"></li>
		
		</ul>
	</div>

	<div class="pad_12 bd_btm_10">
		<div class="pd_12 bd_btm">
			<div class="flex_normal">
				<h4 class="am-text-lg mar_rt_12">{$re.name}</h4>
				<div class="flex_1 am-text-right col_deputy ">{$type.name} {$re.marray}</div>
			</div>
			<div class="flex_between">
				<span class=" col_nine">{$re.times}</span>
				<div class="col_nine "><span class="col_main mar_rt_6 am-text-default">￥{$re.price}</span>/人</div>
			</div>
				<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;text-align: right;">￥{$re.yprice}</div>
		</div>
		<a class="pd_12 bd_btm flex_between bg_white" href="javascript:;">
			<div class="flex_normal">
				<img class="mar_rt_12" src="__HOME__/img/icon_mall_position.png" width="16" height="16" alt=""><span class="am-block am-text-truncate">{$re.addr}</span>
			</div>
			
		</a>
		<a class="pd_12 bd_btm flex_between bg_white" href="tel:{$re.phone}">
			<div class="flex_normal">
				<img class="mar_rt_12" src="__HOME__/img/icon_tousu.png" width="16" height="16" alt=""><span class="am-block am-text-truncate">{$re.phone}</span>
			</div>
			<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</a>
	</div>

	<div class="bd_btm_10">
		<div class="p_12 bg_white">
			<div class="title_left">
				推荐菜品
			</div>
		</div>
		<div class="list_box pad_lt_12 pad_btm_12">
		 {volist name="res" id="v"}
			<a href="{:url('Food/details',array('id'=>$v['id']))}" class="mar_rt_12">
	<img class="bd_radius mar_btm_6" src="{$v.image}" width="186" height="96" alt="">
	<h4 class="am-text-truncate">{$v.title}</h4>
	<p><span style="color:#808080;font-size:12px;margin-right: 5px;">{$v.ad}</span></p>
	<p style="color:#808080;">查看详情 <img src="__HOME__/img/icon_right.png" width="6" height="11" alt=""></p>
</a>

		{/volist}
		</div>
	</div>

	<div class="pad_12">
		<h5 class="am-text-lg pad_top_12">附近热门</h5>
		{volist name="list" id="vl"}
		<a href="{:url('Food/detail',array('id'=>$vl['id']))}" class="flex_normal pd_12 bd_btm">
	<img class="bd_radius mar_rt_12" src="{$vl.image}" width="130" height="90" alt="">
	<div class="flex_1">
		<div class="hotel_wrap">
			<div class="flex_1">
				<h3 class="am-text-truncate">{$vl.name}</h3>
				<div class=" col_nine col_deputy">{$vl.tname}   {$vl.marray}</div>
			</div>
			<div class="col_nine "><span class="col_main mar_rt_6 am-text-default">￥{$vl.price}</span>/人</div>
			<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$vl.yprice}</div>
		</div>
	</div>
</a>
	{/volist}
	</div>

	<div class="no_data">没有更多数据~</div>
	<div class="p_12">
			<div class="title_left flex_normal">
				<span>评论({$cou})</span>
			</div>
			<div class="q_comment">
				<ul>
						{volist name="assess" id="va"}
						<li class="q_comment_wrap">
								<div style="display: flex;justify-content: space-between;">
										<div class="q_comment_item">
												<div class="q_comment_avatar" style="background-image: url('{$va.image}');"></div>
												<div class="q_comment_name">{$va.nickname}</div>
											</div>
										{if condition="$uids eq $va.uid"}	
											<div style="width:15px;height:15px;float:right;background-image: url('__HOME__/img/ico-del.png');background-size: 15px;" class="delete" data-id="{$va.id}"></div>
											{/if}
								</div>
							<div style="padding-left: 34px;">
									{$va.content}
									<div style="margin-top: 10px;"><span style="color: #B3B3B3;margin-right:20px;">{$va.addtime|date="Y/m/d",###}</span></div>
							</div>
							</li>
						{/volist}
				</ul>
		
			</div>
		</div>
	<div style="position: fixed;left: 0;bottom: 0;width:100%;background-color: #fff;">
		<div class="mess-bar" style="position: static;border-bottom: 1px solid #E6E6E6;">
				<div class="mess-bar-text">
					<input type="text" id="content" placeholder="欢迎发表你的评论">
				</div>
				<div class="mess-bar-btn" id="send" >发送</div>
				<div class="mess-bar-count" id="count">
						{if condition="$cou neq 0"}
							<span class="info">{$cou}</span>
						{/if}
					</div>
				<div {if condition="$collect eq 0"} class="mess-bar-collect" {else /} class="mess-bar-collect on" {/if} id="collect"></div>
				<div {if condition="$assist eq 0"} class="mess-bar-like" {else /} class="mess-bar-like on" {/if} id="assist"></div>
				<div style="line-height: 29px;" id="num">{$coua}</div>
			</div>
			<div class="am-g am-text-center pad_top_12 dmenu" style="padding-top: 4px;">
				<a href="{:url('Rural/play',array('id'=>$re['id']))}" class="am-u-sm-3">
					<img src="__HOME__/img/nd01.png" class="am-center" width="30" height="30" alt="">
					<div class="am-text-truncate">周边游</div>
				</a>
				<a href="{:url('Rural/goods',array('id'=>$re['id']))}" class="am-u-sm-3">
					<img src="__HOME__/img/nd02.png" class="am-center" width="30" height="30" alt="">
					<div class="am-text-truncate">当地特产</div>
				</a>
				<a href="{:url('Rural/hotel',array('id'=>$re['id']))}" class="am-u-sm-3">
					<img src="__HOME__/img/nd03.png" class="am-center" width="30" height="30" alt="">
					<div class="am-text-truncate">当地民宿</div>
				</a>
				<a href="http://apis.map.qq.com/uri/v1/routeplan?type=drive&to={$re.addr}&tocoord=&policy=1&referer=myapp" class="am-u-sm-3">
					<img src="__HOME__/img/nd04.png" class="am-center" width="30" height="30" alt="">
					<div class="am-text-truncate">一键导航</div>
				</a>
			</div>
		</div>
			<script>
				$(".delete").click(function(){
		   var id = $(this).data("id");

		   $.ajax({
				type:"post",
				url:"__URL__/delete",
				data:{id:id},
				dataType:"text",
				success:function(re){
                   if(re == 0){
					   layer.msg("删除成功");
					   setTimeout("location.reload()",1000);
				   }else{
					   layer.msg("删除失败");
					   setTimeout("location.reload()",1000);
				   }
				}
			})
		   
	   })
					$("#send").click(function(){
						 var content = $("#content").val();
						 if($.trim(content) == ''){
						 layer.msg("请输入评论内容");return false;
					 }
						 var nid = "{$re.id}"; 
						 $.ajax({
							 type:"post",
							 url:"__URL__/save_assess",
							 data:{content:content,g_id:nid},
							 dataType:"text",
							 success:function(re){
								if(re == 0){
									layer.msg("发表成功");
									setTimeout("location.reload()",1000);
								}
								if(re == 1){
									location.href="{:url('Login/login')}";
								}
								if(re == 2){
									layer.msg("发表失败,请稍后再试");
									setTimeout("location.reload()",1000);
								}
							 }
						 })
					})
			 
					$("#collect").click(function(){
					  
						 var nid = "{$re.id}"; 
						 $.ajax({
							 type:"post",
							 url:"__URL__/save_collect",
							 data:{nid:nid},
							 dataType:"text",
							 success:function(re){
								 if(re == 1){
									location.href="{:url('Login/login')}";
								}
							 }
						 })
					})
			 
					$("#assist").click(function(){
					  
					  var nid = "{$re.id}"; 
					  $.ajax({
						  type:"post",
						  url:"__URL__/save_assist",
						  data:{nid:nid},
						  dataType:"text",
						  success:function(re){
							  if(re == 1){
								 location.href="{:url('Login/login')}";
							 }
						  }
					  })
				 })
			 
					
				 
				 </script>
</body>

</html>