<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="" style="padding-bottom: 100px;">

		<div class="back_box">
				
				<ul class="bread">
						<li>
						 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						</li>
						<li>
						 <a href="{:url('Spot/index')}">门票抢购</a>&nbsp;&gt;
						</li>
						<li>
						<a href="javascript:;">景区详情</a>
						</li>
					   </ul>			
			</div>

	{include file="public:top"}

	<div class="scenic_box">
		<div class="scenic_top col_white ">
			<div class="scenic_bg bg_cover" style="background-image: url({$re.banner});"></div>
			<h2 class="mar_btm_6"><span class="mar_rt_12 am-text-lg font_bold">{$re.name}</span>{$re.comfort}</h2>
			<div class="mar_btm_6"><span class="mar_rt_12">{$re.level}</span><span>开放时间：{$re.open_time}</span></div>
			<div class="mar_btm_12"><span class="mar_rt_12">实时人数：{$re.number}</span><span class="mar_rt_12">最佳容量：{$re.opti}</span><span>最大容量：{$re.max}</span></div>
			<!-- <div class="scenic_banner bg_cover bd_radius box_shadow" style="background-image:url({$re.image});"> -->
					<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}' style="position: relative;">
							<ul class="am-slides">
									<!-- <div style="height: 150px;background-image: url({$re.image});background-size: cover;background-repeat: no-repeat;background-position: center;"></div> -->
							 {volist name="banner" id="vb"}	
								<li>
							
										<div style="height: 150px;background-image: url({$vb.image});background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
								
									<!-- <img src="{$vb.image}"> -->
								</li>
							{/volist}
							</ul>
							
						</div>
			</div>
		</div>

		<div class="bd_btm_10">
			<div class="p_12">
				<div class="scenic_intro flex_between mar_btm_6">
					<h4 style="color: #111111;font-weight:bold;font-size:14px;">简介</h4>
					<div class="flex_normal">
						<span class="mar_rt_12 col_nine ">展开</span><img class="icon" src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
					</div>
				</div>
				<div class="scenic_cont ">
					{$re.content}
					{notempty name="ticket"}
				       
							<div class="p_12 bg_white">
								<a href="javascript:;" class="flex_between mar_btm_12">
									<h4 style="color: #111111;font-weight:bold;font-size:14px;">景区门票</h4>
									<!-- <img src="__HOME__/img/icon_right.png" width="6" height="11" alt=""> -->
								</a>
								<ul class="ticket_list">
										{volist name="ticket" id="vts"}	
									<li class="ticket_item flex_normal mar_btm_12 col_white bd_radius">
						<div class="ticket_lt p_12 flex_1">
							<h4 class="am-text-truncate">{$vts.title}</h4>
							<div class="">{$vts.type}</div>
							<div class="ticket_btn transparent">{$vts.marray}</div>
						</div>
						<div class="ticket_buy am-text-center">
							<div class="ticket_price">￥<span class="am-text-xl font_bold">{$vts.price}</span></div>
							<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$vts.yprice}</div>
							<a class="ticket_btn" href="{:url('Spot/go_buy',array('id'=>$vts['id']))}" >购买</a>
						</div>
					</li>
					{/volist}
								</ul>
							</div>
					
							{/notempty}
				</div>
				
			</div>
		</div>

		<!-- 地图显示 -->
		<div class="p_12">
			<iframe class="bd_radius" src="{:url('Spot/map',array('id'=>$re['id']))}" width="100%" height="100" frameborder="0"></iframe>
		</div>
		{notempty name="$gl"}
		<div class="pad_12">
			<a href="javascript:;" class="flex_between mar_btm_12">
				<h4 style="color: #111111;font-weight:bold;font-size:14px;">景区游玩攻略1</h4>
			</a>
			
			<a class="flex_normal mar_btm_12" href="{:url('Spot/gl_detail',array('id'=>$gl['id']))}">
				<img class="box_shadow bd_radius mar_rt_12" src="{$gl.s_image}" width="90" height="110" alt=""/>
				<div class="flex_1">
					<h5 class="am-text-truncate mar_btm_12">{$gl.s_title}</h5>
					<div class="scenic_content ">{$gl.s_content}...</div>
				</div>
			</a>
		</div>
		{/notempty}
		{notempty name="$rural"}
		<div class="pad_12">
			<a href="javascript:;" class="flex_between mar_btm_12">
				<h4 style="color: #111111;font-weight:bold;font-size:14px;">乡村旅游</h4>
				<!-- <img src="__HOME__/img/icon_right.png" width="6" height="11" alt=""> -->
			</a>
			<div class="am-g">

             {volist name="rural" id="vr"}
				<div class="am-u-sm-6">
					<div class="box_shadow bg_white bd_radius mar_btm_12">
						<a href="{:url('Rural/detail',array('id'=>$vr['id']))}" class="am-block pic_big bg_cover" style="background-image: url({$vr.image});"></a>
						<div class="p_12">
							<h3 class="pic_title  mar_btm_6"><a href="{:url('Rural/detail',array('id'=>$vr['id']))}">{$vr.title}</a></h3>
							<div class="flex_between">
								<div class="flex_normal">
									<!-- <img class="bd_radius_50 mar_rt_6" src="" width="20" height="20" alt=""> -->
									<span class="am-text-xs">{$vr.author}</span>
								</div>
								<div class="pic_scan am-text-xs">{$vr.looks}</div>
							</div>
						</div>
					</div>		
				</div>
			  {/volist}	
			</div>
		</div>
		{/notempty}
        {notempty name="$play"}
		<div class="pad_12">
			<a href="javascript:;" class="flex_between mar_btm_12">
				<h4 style="color: #111111;font-weight:bold;font-size:14px;">玩转景区</h4>
				<!-- <img src="__HOME__/img/icon_right.png" width="6" height="11" alt=""> -->
			</a>
			<div class="am-g">
			 {volist name="play" id="vy"}	
				<div class="am-u-sm-6">
					<a class="am-block mar_btm_12" href="{:url('Spot/play_detail',array('id'=>$vy['id']))}">
	<div class="play_pic mar_btm_6 bd_radius bg_cover" style="background-image: url({$vy.image});"></div>
	<h5 class="am-text-truncate mar_btm_6">{$vy.title}</h5>
	<div class=" col_nine">{$vy.marray}</div>
</a>
				</div>
			{/volist}
			</div>
		</div>
		{/notempty}

		<div class="p_12">
			<div class="play_intro flex_between mar_btm_6">
				<h4 style="color: #111111;font-weight:bold;font-size:14px;">景点我知道</h4>
				<div class="flex_normal">
					<span class="mar_rt_12 col_nine ">展开</span><img class="icon" src="__HOME__/img/icon_right.png"
						width="6" height="11" alt="">
				</div>
			</div>
			<div class="play_cont ">{$re.knows}</div>
		</div>
{notempty name="$sever"}
		<div class="bd_btm_10">
			<div class="p_12">
				<div class="mar_btm_6">
					<h4>支持服务</h4>
				</div>
				<div class="am-g ">
			{volist name="sever" id="vs"}
	<div class="am-u-sm-4">
		<div class="flex_normal mar_btm_6">
			<img class="mar_rt_6" src="{$vs.sever_image}" width="14" height="14" alt=""><span>{$vs.sever_name}</span>
		</div>
	</div>
 {/volist}

</div>
			</div>
		</div>

		{/notempty}
      
		
		
		<div class="p_12">
			<div class="title_left flex_normal">
				<span>评论({$cou})</span>
			</div>
			<div class="q_comment">
				<ul>
						{volist name="assess" id="va"}
						<li class="q_comment_wrap">
								<div style="display: flex;justify-content: space-between;">
										<div class="q_comment_item">
												<div class="q_comment_avatar" style="background-image: url('{$va.image}');"></div>
												<div class="q_comment_name">{$va.nickname}</div>
											</div>
										{if condition="$uids eq $va.uid"}	
											<div style="width:15px;height:15px;float:right;background-image: url('__HOME__/img/ico-del.png');background-size: 15px;" class="delete" data-id="{$va.id}"></div>
											{/if}
								</div>
							<div style="padding-left: 34px;">
									{$va.content}
									<div style="margin-top: 10px;"><span style="color: #B3B3B3;margin-right:20px;">{$va.addtime|date="Y/m/d",###}</span></div>
							</div>
							</li>
						{/volist}	
				</ul>
		
			</div>
		</div>
	</div>
	
		<div style="position: fixed;left: 0;bottom: 0;width:100%;background-color: #fff;">
			
			<div class="mess-bar" style="position: static;border-bottom: 1px solid #E6E6E6;">
					<div class="mess-bar-text">
						<input type="text" id="content" placeholder="欢迎发表你的评论">
					</div>
					<div class="mess-bar-btn" id="send" >发送</div>
					<div class="mess-bar-count" id="count">
							{if condition="$cou neq 0"}
								<span class="info">{$cou}</span>
							{/if}
						</div>
					<div {if condition="$collect eq 0"} class="mess-bar-collect" {else /} class="mess-bar-collect on" {/if} id="collect"></div>
					<div {if condition="$assist eq 0"} class="mess-bar-like" {else /} class="mess-bar-like on" {/if} id="assist"></div>
					<div style="line-height: 29px;" id="num">{$coua}</div>
				</div>
				
				<div class="am-g am-text-center pad_top_12 dmenu" style="padding-top: 4px;">
					<a href="{:url('Rural/play',array('id'=>$re['id']))}" class="am-u-sm-3">
						<img src="__HOME__/img/nd01.png" class="am-center" width="30" height="30" alt="">
						<div class="am-text-truncate">周边游</div>
					</a>
					<a href="{:url('Rural/goods',array('id'=>$re['id']))}" class="am-u-sm-3">
						<img src="__HOME__/img/nd02.png" class="am-center" width="30" height="30" alt="">
						<div class="am-text-truncate">当地特产</div>
					</a>
					<a href="{:url('Rural/hotel',array('id'=>$re['id']))}" class="am-u-sm-3">
						<img src="__HOME__/img/nd03.png" class="am-center" width="30" height="30" alt="">
						<div class="am-text-truncate">当地民宿</div>
					</a>
					<a href="http://apis.map.qq.com/uri/v1/routeplan?type=drive&to={$re.addr}&tocoord={$re.lats},{$re.longs}&policy=1&referer=myapp" class="am-u-sm-3">
						<img src="__HOME__/img/nd04.png" class="am-center" width="30" height="30" alt="">
						<div class="am-text-truncate">一键导航</div>
					</a>
				</div>
			</div>
		<script>

$(".delete").click(function(){
		   var id = $(this).data("id");

		   $.ajax({
				type:"post",
				url:"__URL__/delete",
				data:{id:id},
				dataType:"text",
				success:function(re){
                   if(re == 0){
					   layer.msg("删除成功");
					   setTimeout("location.reload()",1000);
				   }else{
					   layer.msg("删除失败");
					   setTimeout("location.reload()",1000);
				   }
				}
			})
		   
	   })
				$("#send").click(function(){
					 var content = $("#content").val();
                     if($.trim(content) == ''){
						 layer.msg("请输入评论内容");return false;
					 }
					 var nid = "{$re.id}"; 
					 $.ajax({
						 type:"post",
						 url:"__URL__/save_assess",
						 data:{content:content,g_id:nid},
						 dataType:"text",
						 success:function(re){
							if(re == 0){
								layer.msg("发表成功");
								setTimeout("location.reload()",1000);
							}
							if(re == 1){
								location.href="{:url('Login/login')}";
							}
							if(re == 2){
								layer.msg("发表失败,请稍后再试");
								setTimeout("location.reload()",1000);
							}
						 }
					 })
				})
		 
				$("#collect").click(function(){
				  
					 var nid = "{$re.id}"; 
					 $.ajax({
						 type:"post",
						 url:"__URL__/save_collect",
						 data:{nid:nid},
						 dataType:"text",
						 success:function(re){
							 if(re == 1){
								location.href="{:url('Login/login')}";
							}
						 }
					 })
				})
		 
				$("#assist").click(function(){
				  
				  var nid = "{$re.id}"; 
				  $.ajax({
					  type:"post",
					  url:"__URL__/save_assist",
					  data:{nid:nid},
					  dataType:"text",
					  success:function(re){
						  if(re == 1){
							 location.href="{:url('Login/login')}";
						 }
					  }
				  })
			 })
		 
				
			 
			 </script>


	<script>
		function showMore(ele1, ele2) {
			if (ele1.hasClass('active') && ele2.hasClass('active')) {
				ele1.removeClass('active')
				ele1.find('span').html('展开')
				ele2.removeClass('active')
			} else {
				ele1.addClass('active')
				ele1.find('span').html('收起')
				ele2.addClass('active')
			}
		}

		$(function () {

			// 简介
			$('.scenic_intro').click(function () {
				showMore($(this), $('.scenic_cont'))
			})

			// 景点我知道
			$('.play_intro').click(function () {
				showMore($(this), $('.play_cont'))
			})
			
		})
	</script>

</body>

</html>