<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="webkit_box">

		<div class="back_box">
				
				<ul class="bread">
						<li>
						 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						</li>
						<li>
						 <a href="javascript:;">热门景区</a>
						</li>
						
					   </ul>		
			</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- 搜索框 -->
<div class="search_box p_12 bg_normal">
		<form action="{:url('Spot/search')}" method="post">
	<div class="flex_normal">
		<div class="search_wrap pad_12 flex_1 bg_white bd_radius  flex_between">
			<div class="search_location flex_normal pad_rt_12 mar_rt_12 col_main">
				<img class="mar_rt_6" src="__HOME__/img/icon_location.png" width="16" height="16" alt=""><span class="city"></span>
			</div>
			<input class="flex_1" type="text" name="title" placeholder="请输入搜索关键词">
			<img class="mar_lt_12" src="__HOME__/img/icon_search.png" width="16" height="16" alt="">
		</div>
		<button class="mar_lt_12" type="submit">搜索</button>
	</div>
	</form>
</div>

<div class="flex_between" style="padding: 10px 0;">
	<a style="width: 48%;" href="{:url('Assemble/index')}">
		<img width="100%" height="90px" src="{$assemble.image}" alt="Image">
	</a>
	<a style="width: 48%;" href="{:url('Bargain/index')}">
		<img width="100%" height="90px" src="{$bargain.image}" alt="Image">
	</a>
</div>

	<div class="kind_box webkit_cont">
		<ul class="kind_menu ">
		  {volist name="res" id="v" key="k"}	
			<li {if condition="$pid eq 0"} {if condition="$k eq 1"} class="kind_item active" {else /} class="kind_item" {/if} {elseif condition="$pid eq $v['id']"} class="kind_item active" {else /} class="kind_item" {/if} >
				<a href="{:url('Spot/index',array('pid'=>$v['id']))}">{$v.name}</a>
			</li>
			<ul class="kind_menu_sub">
			  {volist name="$v['type']" id="vt"}	
				<li><a href="{:url('Spot/index',array('id'=>$vt['id']))}">{$vt.name}</a></li>
			  {/volist}
			</ul>
		  {/volist}
		</ul>
		<div class="kind_wrap">
				{volist name="res" id="v" key="k"}
			<div {if condition="$k eq 1"} class="kind_cont active p_12" {else /} class="kind_cont p_12" {/if} >
				<div class="kind_banner bg_cover bd_radius mar_btm_12" style="background-image: url({$v.image});">
				</div>
				<div class="am-g">

					
					
                 {volist name="$v['list']" id="p" key="kp"}
					<a href="{:url('Spot/detail',array('id'=>$p['id']))}" class="am-u-sm-6 am-block mar_btm_12">
						<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url({$p.image});"><span class="kind_tag">top{$kp}</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">{$p.name}</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">{$p.comfort}</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：{$p.number}</li>
	<li>最佳容量：{$p.opti}</li>
	<li>最大容量：{$p.max}</li>
</ul>

					</a>
					{/volist}

				
					<!-- <a href="scenic_detail.html" class="am-u-sm-6 am-block mar_btm_12">
						<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

					</a>
					<a href="scenic_detail.html" class="am-u-sm-6 am-block mar_btm_12">
						<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

					</a> -->
				</div>
			</div>
			{/volist}
			<!-- <div class="kind_cont p_12">
				<div class="kind_banner bg_cover bd_radius mar_btm_12" style="background-image: url(__HOME__/img/banner.png);">
				</div>
				<div class="am-g">
					<a href="scenic_detail.html" class="am-u-sm-6 am-block mar_btm_12">
						<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

					</a>
					<a href="scenic_detail.html" class="am-u-sm-6 am-block mar_btm_12">
						<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

					</a>
				</div>
			</div>
			<div class="kind_cont p_12">
				<div class="kind_banner bg_cover bd_radius mar_btm_12" style="background-image: url(__HOME__/img/banner.png);">
				</div>
				<div class="am-g">
					<a href="scenic_detail.html" class="am-u-sm-6 am-block mar_btm_12">
						<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

					</a>
				</div>
			</div> -->
		</div>
	</div>

	<script>
		$(function () {
			$('.kind_item').click(function () {
				commonTab($(this), $('.kind_cont'), 'active')
			})
		})
	</script>

</body>

</html>