<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<style>
	.myq {
		width: 20%;
	}
</style>
<body class="pad_btm">
<!-- 返回 -->
<div class="back_box">
		<ul class="bread">
				<li>
						<a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						 </li>
						 <li>
						<a href="{:url('Index/cloudplay')}">云播</a>&nbsp;&gt;
						 </li>
						 <li>
						 <a href="javascript:;">云播详情</a>
						 </li>
						</ul>	
</div>
		<!-- <div class="back_box">
			首页			
		</div> -->
			<!-- <a class="back_icon" href="javascript:history.back(-1)">
				<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
			</a>		 -->

	<!-- 公共顶部 -->
{include file="public:top"}

	<div class="p_12">
		<div style="margin-bottom:15px;font-weight:bold;color: #000000;font-size:17px;">多彩郑州</div>

	</div>

	<div class="p_12">
			<div class="title_left flex_normal">
				<span>评论(144)</span>
			</div>
			<div class="q_comment">
				<ul>
					<li class="q_comment_wrap">
						<div class="q_comment_item">
							<div class="q_comment_avatar" style="background-image: url('__HOME__/img/pic_travel_4.png');"></div>
							<div class="q_comment_name">小明</div>
						</div>
						<div style="padding-left: 34px;">
								阿斯阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦大撒旦
								<div style="margin-top: 10px;"><span style="color: #B3B3B3;margin-right:20px;">1天前</span><a href="">回复</a></div>
						</div>
						</li>
						<li class="q_comment_wrap">
							<div class="q_comment_item">
								<div class="q_comment_avatar" style="background-image: url('__HOME__/img/pic_travel_4.png');"></div>
								<div class="q_comment_name">小明</div>
							</div>
							<div style="padding-left: 34px;">
									阿斯阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦阿斯大撒旦大撒旦
									<div style="margin-top: 10px;"><span style="color: #B3B3B3;margin-right:20px;">1天前</span><a href="">回复</a></div>
							</div>
							</li>
				</ul>
		
			</div>
		</div>
		<div class="mess-bar">
				<div class="mess-bar-text">
					<input type="text" placeholder="欢迎发表你的评论">
				</div>
				<div class="mess-bar-btn">发送</div>
				<div class="mess-bar-collect"></div>
				<div class="mess-bar-like"></div>
			</div>


</body>

</html>