<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<style>
	.myq {
		width: 20%;
	}
</style>
<body class="pad_btm">

		<!-- <div class="back_box">
			首页			
		</div> -->
			<!-- <a class="back_icon" href="javascript:history.back(-1)">
				<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
			</a>		 -->

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- banner -->
	<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}' style="position: relative;">
		<ul class="am-slides">
		 {volist name="lb" id="vb"}	
			<li>
				<a {if condition="$vb.url neq '' "} href="{$vb.url}" {/if} >
					<div style="height: 150px;background-image: url({$vb.image});background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
				</a>
				<!-- <img src="{$vb.image}"> -->
			</li>
		{/volist}
		</ul>
		<div class=" col_main" id="weather"></div>
	</div>

	<!-- 搜索框 -->
	<div class="search_box p_12 bg_normal">
		<form action="{:url('Rural/search')}" method="GET">
		<div class="flex_normal" >
			<div class="search_wrap pad_12 flex_1 bg_white bd_radius  flex_between">
				<div class="search_location flex_normal pad_rt_12 mar_rt_12 col_main">
					<img class="mar_rt_6" src="__HOME__/img/icon_location.png" width="12" height="12" alt="">
					<!-- <span class="city jsmodal"></span> -->
					<span class="city"></span>
				</div>
				<input class="flex_1" type="text" name="title" placeholder="请输入搜索关键词">
				<img class="mar_lt_12" src="__HOME__/img/icon_search.png" width="16" height="16" alt="">
			</div>
			<button class="mar_lt_12" type="submit">搜索</button>
		</div>
	</form>
	</div>

	<div class="am-popup" id="my-popup">
		<div class="am-popup-inner">
			<div class="am-popup-hd">
				<h4 class="am-popup-title">切换城市</h4>
				<span data-am-modal-close
							class="am-close">&times;</span>
			</div>
			<div class="am-popup-bd">
				<ul class="am-list am-list-border">
				  {volist name="index_city" id="vo"}	
					<li><a href="{:url('Index/save_city',array('id'=>$vo['cid']))}">{$vo.c_name}</a></li>
				{/volist}
				</ul>
			</div>
		</div>
	</div>

	<!-- 分类导航 -->
	<!-- <div class="bd_btm_10">
		<div data-am-widget="tabs" class="am-tabs am-tabs-default">
			<div class="am-tabs-bd">
				<div data-tab-panel-0 class="am-tab-panel am-active">
					<div class="flex_normal flex_wrap am-g">
						<a href="{:url('Rural/index')}" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_1.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">乡村旅游</h6>
						</a>
						<a href="culture.html" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_2.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">区域文化</h6>
						</a>
						<a href="hotel_book.html" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_3.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">民宿</h6>
						</a>
						<a href="{:url('Spot/index')}" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_4.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">热门景区</h6>
						</a>
						<a href="wineshop.html" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_5.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">酒店</h6>
						</a>
						<a href="question.html" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_6.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">问答</h6>
						</a>
						<a href="group.html" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_7.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">跟团</h6>
						</a>
						<a href="{$url.url}" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_8.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">车票机票</h6>
						</a>
					</div>
				</div>
				<div data-tab-panel-1 class="am-tab-panel ">
					<div class="flex_normal flex_wrap am-g">
						<a href="piao.html" class="am-u-sm-3 am-text-center mar_btm_12">
							<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_9.png" width="40" height="40" alt="">
							<h6 class="am-text-truncate">门票抢购</h6>
						</a>
					</div>
				</div>
			</div>

			<ul class="am-tabs-nav am-cf">
				<li class="am-active"><a href="[data-tab-panel-0]"></a></li>
				<li class=""><a href="[data-tab-panel-1]"></a></li>
			</ul>
		</div>
	</div> -->

	<!-- 分类导航 -->
	<div class="bd_btm_10">
			<div data-am-widget="tabs" class="am-tabs am-tabs-default">
				<div class="am-tabs-bd">
					<div data-tab-panel-0 class="am-tab-panel am-active">
						<div class="flex_normal flex_wrap">

								<a href="{:url('Culture/index')}" class="myq am-text-center mar_btm_12">
									<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_2.png" width="40" height="40" alt="">
									<h6 class="am-text-truncate">区域文化</h6>
								</a>
							<a href="{:url('Rural/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_1.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">乡村旅游</h6>
							</a>
							<a href="{:url('Spot/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_4.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">门票抢购</h6>
							</a>
							<a href="{:url('Hotel/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_5.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">民宿/酒店</h6>
							</a>
							<a href="{:url('Culture/gls')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_90.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">游记/攻略</h6>
							</a>
							<a href="{:url('Group/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_7.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">跟团/定制</h6>
							</a>
							<a href="{:url('Car/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_91.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">汽车租赁</h6>
							</a>
							<a href="{:url('Question/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_6.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">问答</h6>
							</a>
							
							
						
							<a href="{:url('Food/index')}" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_3.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">美食</h6>
							</a>

							<a href="{:url('Index/cloudplay')}" id="kan" class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_92.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">云播</h6>
							</a>
							
							
							
							
							
							<!-- <a href="{:url('Bargain/index')}"  class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_92.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">热门砍价</h6>
							</a>
							<a href="{:url('Assemble/index')}"  class="myq am-text-center mar_btm_12">
								<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_9.png" width="40" height="40" alt="">
								<h6 class="am-text-truncate">热门抢购</h6>
							</a> -->
						</div>
					</div>
					<div data-tab-panel-1 class="am-tab-panel ">
						<div class="flex_normal flex_wrap">
								
								<a href="{$url.url}" class="myq am-text-center mar_btm_12">
										<img class="am-center mar_btm_6" src="__HOME__/img/icon_kind_8.png" width="40" height="40" alt="">
										<h6 class="am-text-truncate">车票机票</h6>
									</a>
						</div>
					</div>
				</div>
	  <script>
	   $("#kan").click(function(){
		   layer.msg("开发中~~~~");return false;
	   }) 
	   $("#kans").click(function(){
		   layer.msg("开发中~~~~");return false;
		 }) 
		 $(function() {
			 $('.jsmodal').click(function() {
				 $('#my-popup').modal('open');
			 })
		 })
	  </script>
				<ul class="am-tabs-nav am-cf">
					<li class="am-active"><a href="[data-tab-panel-0]"></a></li>
					<li class=""><a href="[data-tab-panel-1]"></a></li>
				</ul>
			</div>
		</div>
		<!-- 热门抢购 -->
		<a href="{:url('Assemble/index')}" class="flex_between p_12 bg_white">
			<div class="title_left flex_normal">
				<!--<img class="mar_rt_6" src="__HOME__/img/video.png" width="18" height="18" alt="">--><span>{$assemble.name}</span><span class="title_left_sub">&nbsp;/&nbsp;{:strip_tags($assemble.desc)}</span>
			</div>
			<div class="flex_normal">
				<span class="col_nine  mar_rt_6">更多</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
			</div>
		</a>
		<div class="pad_lt_12 pad_rt_12">
		 <a href="{:url('Assemble/index')}">
			<image src="{$assemble.image}"></image>
			</a>
		</div>
		<!-- 热门砍价 -->
		<a href="{:url('Bargain/index')}" class="flex_between p_12 bg_white">
			<div class="title_left flex_normal">
				<!--<img class="mar_rt_6" src="__HOME__/img/video.png" width="18" height="18" alt="">--><span>{$bargain.name}</span><span class="title_left_sub">&nbsp;/&nbsp;{:strip_tags($bargain.desc)}</span>
			</div>
			<div class="flex_normal">
				<span class="col_nine  mar_rt_6">更多</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
			</div>
		</a>
		<div class="pad_lt_12 pad_rt_12">
		 <a href="{:url('Bargain/index')}">
			<image src="{$bargain.image}"></image>
			</a>
		</div>

	<!-- 热门景区 -->
	<a href="{:url('Spot/index')}" class="flex_between p_12 bg_white">
		<div class="title_left flex_normal">
			<!--<img class="mar_rt_6" src="__HOME__/img/video.png" width="18" height="18" alt="">--><span>乡村旅游</span><span class="title_left_sub">&nbsp;/&nbsp;回归乡村感受大自然</span>
		</div>
		<div class="flex_normal">
			<span class="col_nine  mar_rt_6">更多</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</div>
	</a>
	<div class="list_box pad_lt_12">
 
		{volist name="spot" id="vs"}
		<a class="mar_rt_12" href="{:url('Spot/detail',array('id'=>$vs['id']))}"><img class="bd_radius" src="{$vs.image}" width="186" height="74" alt=""></a>
		{/volist}
	</div>

	<!-- 区域文化 -->
	<a href="{:url('Culture/index')}" class="flex_between p_12 bg_white">
		<div class="title_left flex_normal">
			<!--<img class="mar_rt_6" src="__HOME__/img/video.png" width="18" height="18" alt="">--><span>区域文化</span><span class="title_left_sub">&nbsp;/&nbsp;传承不同民族文化</span>
		</div>
		<div class="flex_normal">
			<span class="col_nine  mar_rt_6">更多</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</div>
	</a>
	<div class="list_box pad_lt_12">

	{volist name="culture" id="vc"}
		<a class="mar_rt_12" href="{:url('Culture/detail',array('id'=>$vc['id']))}">
	<img class="bd_radius mar_btm_6" style="margin-bottom: 10px;" src="{$vc.image}" width="186" height="74" alt="">
	<h4 class="am-text-truncate">{$vc.title}</h4>
	
</a>
	{/volist}
	
	</div>

	<!-- 乡村旅游 -->
	<a href="{:url('Rural/index')}" class="flex_between p_12 bg_white">
		<div class="title_left am-text-lg" style="padding-left:0;height:auto;font-size:17px;border-left:0;">
			乡村旅游
		</div>
		<div class="flex_normal">
			<span class="col_nine  mar_rt_6">更多</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</div>
	</a>

	<div class="p_6">
		<div class="am-g">

			{volist name="rural" id="vr"}

			<div class="am-u-sm-6">
				<div class="box_shadow bg_white bd_radius mar_btm_12">
	<a href="{:url('Rural/detail',array('id'=>$vr['id']))}" class="am-block pic_big bg_cover" style="background-image: url({$vr.image});"></a>
	<div class="p_12">
		<h3 class="pic_title  mar_btm_6"><a href="{:url('Rural/detail',array('id'=>$vr['id']))}">{$vr.title}</a></h3>
		<div class="flex_between">
			<div class="flex_normal">
				<!-- <img class="bd_radius_50 mar_rt_6" src="" width="20" height="20" alt=""> -->
				<span class="am-text-xs">{$vr.author}</span>
			</div>
			<div class="pic_scan am-text-xs">{$vr.looks}</div>
		</div>
	</div>
</div>
			</div>

     {/volist}

		</div>
	</div>

	<!-- 底部导航 -->
{include file="public:footer"}
<!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script> -->
<script type="text/javascript">
	wx.config({
		debug: false,
		appId: "{$signPackage["appId"]}",
		timestamp:"{$signPackage["timestamp"]}",
		nonceStr: "{$signPackage["nonceStr"]}",
		signature:"{$signPackage["signature"]}",
		jsApiList:['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','startRecord',
                  'stopRecord',
                  'onVoiceRecordEnd',
                  'playVoice',
                  'onVoicePlayEnd',
                  'pauseVoice',
                  'stopVoice',
                  'uploadVoice',
                  'downloadVoice']
	});
	wx.ready(function () {
		wx.checkJsApi({
			jsApiList: [
				'getLocation'
			],
			success: function (res) {
				// alert(JSON.stringify(res));
			  //  alert(JSON.stringify(res.checkResult.getLocation));
				if (res.checkResult.getLocation == false) {
					alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
					return;
				}
			}
		});
		wx.getLocation({
			type: 'wgs84',
			success: function (res) {
				//alert(res);
				var aa = "{$aa}";

				if(aa == 0){
					var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
					var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
					var speed = res.speed; // 速度，以米/每秒计
					var accuracy = res.accuracy; // 位置精度
			//     alert("经度："+latitude+"纬度："+longitude);return false;
					$.ajax({
						type:"post",
						url:"__URL__/save_addr",
						data:{lats:latitude,longs:longitude},
						dataType:"text",
						success:function(re){
							if(re == 0){
								location.reload();
							}
							
							
						}
					})
				}
				
			},
			cancel: function (res) {
				alert('用户拒绝授权获取地理位置');
			}
		});
		
	});
	
	
	
	</script>
</body>

</html>