<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

	<!-- 返回 -->
	<div class="back_box">
		
		<ul class="bread">
				<li>
				 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
				</li>
				
				<li>
				<a href="javascript:;">帮忙砍价</a>
				</li>
			   </ul>	
	</div>

{include file="public:top"}



	<div class="p_12 bd_cover" style="background-image: url(__HOME__/img/bargain_bei.png);">
		<div class="bg_white bd_radius p_12">
			<div class="p_12 flex_normal bg_normal bd_radius">				
				<div class="bargain_pic bg_cover mar_rt_12 bd_radius am-block" style="background-image: url({$goods.image});"></div>
				<div class="flex_1 hotel_wrap">
					<div class="flex_1">
						<h5 class="am-text-truncate">{$re.name}</h5>
						<div class="">
								￥<span class="col_main am-text-lg font_bold">{$re.price}</span>
						</div>						
					</div>
					<div class="bargain_lt  col_nine count_down">
						<span class="hour_num">00</span> : <span class="min_num">00</span> : <span class="sec_num">00</span>后砍价过期
					</div>
				</div>
			</div>

			<div class="am-text-center">
				<div class="mar_top_12 mar_btm_12 col_nine">
					已砍<span class="col_main">{$re.already_price}</span>元，还差<span class="col_main">{$re.can_price}</span>元
				</div>
				<div class="am-progress am-progress-striped" style="border-radius:200px;overflow:hidden;height: 14px;margin-bottom: 0;">
					<div class="am-progress-bar am-progress-bar-danger" style="width: {$scale}%"></div>
				</div>
				<div class="p_12">
				   {empty name="$log"}	
					<div id="continue_btn" class="confirm_btn ">帮Ta砍一刀</div>
				   {else /}
				   <div id="wx" class="confirm_btn ">喊好友帮Ta砍一刀</div>
				  {/empty}
				 
				</div>
				<div class="p_12">
					
					   <a href="{:url('Bargain/index')}" class="confirm_btn ">我也要拿</a>
					 </div>
			</div>

			<div class="bargain_bang  bd_radius p_12">
				<h6 class="bargain_col col_main am-text-center font_bold">砍价帮</h6>
				<ul>
				  {volist name="res" id="v"}
					<li class="flex_between pd_12 bd_btm_white">
						<div class="flex_normal flex_1">
							<img src="{$v.image}" class="bd_radius_50 mar_rt_12" width="32" height="32" alt="">
							<div class="flex_1 am-text-truncate">{$v.nickname}</div>
						</div>
						<div class="col_nine mar_lt_12">
							砍掉<span class="col_main">{$v.price}</span>元
						</div>
					</li>
					{/volist}
				</ul>
				<a href="javascript:;" class="no_data">暂无更多数据</a>
			</div>
		</div>
	</div>

	<!-- 砍价弹窗 -->
	<div class="common_bg" id="common_bg"></div>
	<div class="bargain_tan" id="bargain_tan">
		<h5 class="mar_btm_12"><span class="wen">你砍了</span><span class="am-text-xl col_main price">47.32元</span></h5>
		<div class="mar_btm_12 col_main ">分享给好友，让好友帮你砍一刀</div>
		<div class="flex_around p_12">
			<a href="javascript:;" class="am-block" id="wxss">
				<img src="__HOME__/img/pic_wechat.png" class="am-center mar_btm_12" width="36" height="36" alt="">
				<div class="">微信</div>
			</a>
			<!-- <a href="javascript:;" class="am-block">
				<img src="__HOME__/img/pic_tencent.png" class="am-center mar_btm_12" width="36" height="36" alt="">
				<div class="">QQ</div>
			</a> -->
			<a href="javascript:;" class="am-block" id="wxs">
				<img src="__HOME__/img/pic_friend.png" class="am-center mar_btm_12" width="36" height="36" alt="">
				<div class="">朋友圈</div>
			</a>
		</div>
	</div>
  
	<script src="__HOME__/js/countDown.js"></script>

	<script>
		$(function(){
			var date="{$date}";
			//倒计时
			$(".count_down").countDown({
				endTimeStr: date, //结束时间
				daySelector: ".day_num",
				hourSelector: ".hour_num",
				minSelector: ".min_num",
				secSelector: ".sec_num"
			})
			$("#wx").click(function(){
				layer.msg("点击右上角按钮,发送给朋友或分享到朋友圈");
			})
			// 继续砍价
			$('#continue_btn').click(function(){
				var id="{$re.id}";
				var price ="{$re.already_price}";
			
				$.ajax({
					type:"post",
					url:"{:url('Index/take')}",
					data:{id:id},
					dataType:"text",
					success:function(re){
                        if(re == -1){	
							layer.msg("已经帮Ta砍过了");
							 setTimeout("location.reload()",1000);
						}else if(re == -2){
							 layer.msg("已到达砍价最大人数,赶紧通知Ta就购买吧");
							 setTimeout("location.reload()",1000);
						}else if(re == -3){
							layer.msg("系统繁忙请稍后再试");
							 setTimeout("location.reload()",1000);
						}else if(re == -4){
							layer.msg("系统繁忙请稍后再试");
							 setTimeout("location.reload()",1000);
						}else{
							$(".price").text(re+'元');
							$('#common_bg').fadeIn()
				           $('#bargain_tan').fadeIn()
						}
					}
				})
			
			
			})

			$('#common_bg').click(function(){
				$('#common_bg').fadeOut()
				$('#bargain_tan').fadeOut()
				location.reload();
			})

			$("#wxss").click(function(){
				layer.msg("点击右上角按钮,发送给朋友");
			})
			$("#wxs").click(function(){
				layer.msg("点击右上角按钮,分享到朋友圈");
			})

		})
	</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>
  var data = {$signPackage};
  var id = "{$re.id}";
  var image = "{$goods.image}";
  var title = "{$title.desc}";
  var desc = "{$desc.desc}";
  var url = "{$urls}";
  wx.config({
      debug: false,
      appId: data.appId,
      timestamp: data.timestamp,
      nonceStr: data.nonceStr,
      signature: data.signature,
      jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','startRecord',
                  'stopRecord',
                  'onVoiceRecordEnd',
                  'playVoice',
                  'onVoicePlayEnd',
                  'pauseVoice',
                  'stopVoice',
                  'uploadVoice',
                  'downloadVoice']
  });
  wx.ready(function(){
	  wx.onMenuShareAppMessage({
		  title: title, // 分享标题
		  desc: desc, // 分享描述
		  link: url+'/index/index/wx/id/'+id, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		  imgUrl:url+image, // 分享图标
		  type: '', // 分享类型,music、video或link，不填默认为link
		  dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		  success: function () {
		  // 用户点击了分享后执行的回调函数
		   
		  }
		});
	  wx.onMenuShareTimeline({
		    title: title, // 分享标题
		    link: url+'/index/index/wx/id/'+id, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
		    imgUrl: url+image, // 分享图标
		    success: function () {
		    // 用户点击了分享后执行的回调函数
		},
	  });
	});






</script>


</body>

</html>