<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<style>
.info {
	font-size: 12px;
	color: #B4B6B5;
}
</style>
<body class="">

	<!-- 返回 -->
	<div class="back_box">
			登录中心
			<a class="back_icon" href="{:url('Index/index')}">
				<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
			</a>		
		</div>

	<div class="p_12">
		<!-- <h2 class="am-text-lg mar_btm_12 font_bold">登录测试测试</h2> -->
		<form id="logoForm" class="am-block" method="POST" action="{:url('Login/check')}">
			<div class="form_group">
				<input type="number"  class="am-block lg" placeholder="请输入手机号" name="phone"  required>
			</div>
			<div class="form_group">
				<input type="password" class="am-block lg" placeholder="请输入密码" name="pwd" required>
			</div>
			<div class="flex_between pd_12 am-text-sm">
				<a class="form_forget" href="{:url('Login/forget')}">忘记密码</a>
				<a class="flex_normal col_main" href="{:url('Login/register')}">
					<span class="mar_rt_6">快速注册</span><img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
				</a>
			</div>
			<div class="pd_12">
				<button type="submit" class="confirm_btn">立即登录</button>
			</div>
		</form>

		
	</div>

	<div class="flex_center" style="width: 50%;margin: 60% auto 20px;">
			<!-- <a href="">
				<img width="50" src="__HOME__/img/iconqq.png" alt="">
			</a> -->
			<a href="{:url('Login/wxlogin')}">
				<img width="50" src="__HOME__/img/iconwx.png" alt="">
			</a>
		</div>
		<p class="am-text-center info">登录及代表您同意我们的<a class="am-text-danger" href="javascript:;" data-am-modal="{target: '#my-popup'}">《{$lb.name}》</a></p>

		<div class="am-popup" id="my-popup">
				<div class="am-popup-inner">
				  <div class="am-popup-hd">
					<h4 class="am-popup-title">{$lb.name}</h4>
					<span data-am-modal-close
						  class="am-close">&times;</span>
				  </div>
				  <div class="am-popup-bd">
						{$lb.desc}
				  </div>
				</div>
			  </div>

	<script>
        $(function () {
            $('#logoForm').ajaxForm({
                beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
                success: complete, // 这是提交后的方法
                dataType: 'json'
            });

            function checkForm() {
				var phone = $('input[name=phone]').val();

				var phone_reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;

				if (!phone_reg.test(phone)) {
					layer.msg("请输入正确的手机号码");
					return false;
				}

            }

            function complete(data) {
                if (data.code == 1) {
                    layer.alert(data.msg, {
                        icon: 6
                    }, function (index) {
                        layer.close(index);
                        window.history.back();
                    });

                } else {
                    layer.alert(data.msg, {
                        icon: 5
                    }, function (index) {
                        layer.close(index);
                        window.location.reload();
                    });

                }
            }

        });
    </script>

</body>

</html>