<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

	<!-- 公共顶部 -->
<div class="top_box flex_between bg_white pad_12 bd_btm">
	<a href="{:url('Index/index')}">
		<img src="__HOME__/img/logo.png" width="91" height="30" alt="">
	</a>
	<div class=" col_main" id="weather"></div>
</div>

	<div class="user_top big bg_cover" style="background-image:url(__HOME__/img/order_bg.png);">
		<h6 class="mar_btm_6">恭喜你支付成功</h6>
		
	</div>



	<div class="confirm_wrap p_12">
		<a href="{:url('Index/index')}" class="confirm_btn mar_btm_12">返回首页</a>
	</div>

</body>

</html>