<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="" style="padding-bottom: 50px;">

	<!-- 返回 -->
	<div class="back_box">
		
		<ul class="bread">
				<li>
				 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
				</li>
				<li>
				 <a href="javascript:;">游记/攻略</a>
				</li>
				
			   </ul>
	</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- 搜索框 -->
<div class="search_box p_12 bg_normal">
  <form action="" >
	<div class="flex_normal">
		<div class="search_wrap pad_12 flex_1 bg_white bd_radius  flex_between">
			<div class="search_location flex_normal pad_rt_12 mar_rt_12 col_main">
				<img class="mar_rt_6" src="__HOME__/img/icon_location.png" width="16" height="16" alt=""><span class="city"></span>
			</div>
			<input class="flex_1" type="text" name="title" placeholder="请输入搜索关键词">
			<img class="mar_lt_12" src="__HOME__/img/icon_search.png" width="16" height="16" alt="">
		</div>
		<button class="mar_lt_12" type="submit">搜索</button>
	</div>
</form>	
</div>

<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}' style="position: relative;">
		<ul class="am-slides">
		 {volist name="lb" id="vb"}	
			<li>
				<a {if condition="$vb.url neq '' "} href="{$vb.url}" {/if} >
					<div style="height: 150px;background-image: url({$vb.image});background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
				</a>
				<!-- <img src="{$vb.image}"> -->
			</li>
		{/volist}
		</ul>
		
	</div>

	<ul class="order_hd flex_around bd_btm">
		<li class="order_item active tab_item">游记</li>
		<li class="order_item tab_item">攻略</li>
	</ul>

	<ul class="tab_wrap">
		<li class="tab_cont active">
			<!-- 酒店 -->
			<a href="javascript:;" class="am-block p_12 bg_white">
				<div class="title_left am-text-lg font_bold">精品游记推荐</div>
				
			</a>
			<div class="list_box pad_lt_12 pad_btm_12 bd_btm">
			{volist name="publish" id="v"}
				<a class="mar_rt_12" href="{:url('Culture/detail_publish',array('id'=>$v['id']))}">
	<img class="bd_radius mar_btm_6" src="{$v.image}" width="186" height="74" alt="">
	<h4 class="am-text-truncate">{$v.title}</h4>
	<div class="col_main">
		<span class="am-text-xs">{$v.addr}</span>
	</div>
</a>
		{/volist}		
			</div>

			<h5 class="p_12 am-text-lg">热门推荐</h5>
			<div class="pad_12">
			{volist name="publishs" id="vs"}	
				<a href="{:url('Culture/detail_publish',array('id'=>$vs['id']))}" class="flex_normal pd_12 bd_btm">
	<img class="bd_radius mar_rt_12" src="{$vs.image}" width="130" height="90" alt="">
	<div class="flex_1">
		<div class="hotel_wrap">
			<div class="flex_1">
				<h3 class="am-text-truncate">{$vs.title}</h3>
				<div class=" col_nine">{$vs.addr}</div>
			</div>			
			<div class="flex_between">
				<span class="col_deputy">{$vs.dates}</span>
				
			</div>
		</div>
	</div>
</a>
		{/volist}		
			</div>

			<div class="no_data">暂无更多记录~</div>

		</li>

		<li class="tab_cont">
			<!-- 民宿 -->
			<a href="javascript:;" class="am-block p_12 bg_white">
				<div class="title_left am-text-lg font_bold">精品攻略推荐</div>
				
			</a>
			<div class="list_box pad_lt_12 pad_btm_12 bd_btm">
				{volist name="strat" id="vh"}
				<a class="mar_rt_12" href="{:url('Culture/detail_strat',array('id'=>$vh['id']))}">
	<img class="bd_radius mar_btm_6" src="{$vh.image}" width="186" height="74" alt="">
	<h4 class="am-text-truncate">{$vh.title}</h4>
	<div class="col_main">
		<span class="am-text-xs">{$vh.author}</span>
	</div>
</a>
		{/volist}
			</div>

			<h5 class="p_12 am-text-lg">热门推荐</h5>
			<div class="pad_12">
				{volist name="strats" id="p"}	
				<a href="{:url('Culture/detail_strat',array('id'=>$p['id']))}" class="flex_normal pd_12 bd_btm">
	<img class="bd_radius mar_rt_12" src="{$p.image}" width="130" height="90" alt="">
	<div class="flex_1">
		<div class="hotel_wrap">
			<div class="flex_1">
				<h3 class="am-text-truncate">{$p.title}</h3>
				<div class=" col_nine">{$p.tag}</div>
			</div>			
			<div class="flex_between">
				<span class="col_deputy">{$p.author}</span>
				
			</div>
		</div>
	</div>
</a>
		{/volist}	
			</div>

			<div class="no_data">暂无更多记录~</div>
		
		</li>
	</ul>

	<a class="q_add_btn" href="{:url('Publish/publish')}">

	</a>

</body>

</html>