<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">商品列表</li>
        </ul>

      </div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
                <div class="col-sm-4">
                <a class="btn btn-success btn-white btn-bold" href="{:url('Assemble/add')}">
                  <i class="ace-icon fa fa-plus icon-only"></i>
                  添加</a>
                <button id="change" class="btn btn-warning btn-white btn-bold">
                  <i class="fa fa-exchange"></i>
                  排序
                </button>
               
                </div>

                <div class="col-sm-8 clearfix">
                  <form class="form-inline pull-right" action="">
                    
                   
                    <div class="form-group">
                      <div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-check"></i>
									</span>
                        <input type="text" name="title"  class="form-control search-query" value="{$title}" placeholder="请输入需查询的关键字">
                        <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                      </div>
                    </div>
                  </form>
                </div> 
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  
                  <th>ID</th>
                  <th class="hidden-480">排序</th>
                  <th>商户名称</th>
                  <th>商品信息</th>
                  <th>团购价</th>
                  <th>拼团人数</th>
                  <th>上下架</th>
                  <th>推荐</th>
                  <th style="border-right:#ddd solid 1px;width:7%;" >操作</th>
                </tr>
                </thead>
                <form id="sortForm" action="{:url('Assemble/sort')}" method="post"> 
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                 
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  <td class="hidden-480"><input class="input-small" type="number" name="{$v.id}" value="{$v.sort}"></td>
                  <td>{$v.username}</td>
                  <td>
                    <!-- <a href="#" style="float: left;margin-right: 10px;">
                      <img class="media-object hidden-480" data-src="holder.js/72x72" alt="72x72" src="{$v.image}" style="width: 72px; height: 72px;">
                    </a> -->
                    <li>
                    <a href="{$v.image}" style="float: left;margin-right: 10px;" data-rel="colorbox">
                      <img width="80" height="80" alt="150x150" src="{$v.image}"/>
                      
                    </a></li>
                    <h4 style="float: left;">
                        <a href="javascript:;" class="blue">{$v.name}</a> <br><br>
                        <a href="javascript:;" class="blue">{$v.price}</a>
                      </h4>
                     
                  </td>
                  <td>{$v.floor_price}</td>
                  <td>{$v.group_number}</td>
            
                  <td>
                    <label>
                      <input id="statu" name="up" onclick="changeu({$v.id})" class="ace ace-switch ace-switch-6" type="checkbox" {if condition="$v.up eq 1"}checked{/if} />
                      <span class="lbl"></span>
                    </label>
                  </td>

                  <td>
                    <label>
                      <input id="statu" name="status" onclick="change({$v.id})" class="ace ace-switch ace-switch-6" type="checkbox" {if condition="$v.status eq 1"}checked{/if} />
                      <span class="lbl"></span>
                    </label>
                  </td>
                

                  <td>
                    <a class="btn btn-xs btn-info" href="{:url('Assemble/modifys',array('id'=>$v['id']))}">
                      <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </a>
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                  </td>
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
                </form>
              </table>
              <div class="text-center">
                {$page}
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

 {include file="public:header"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
		    window.location.href="__URL__/delete/id/"+id;
		  });
	    }
		</script>
<script>
function change(id){
	$.ajax({
		type:"post",
		url:"__URL__/change",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changeu(id){
	$.ajax({
		type:"post",
		url:"__URL__/changeu",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changea(id){
	$.ajax({
		type:"post",
		url:"__URL__/changea",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changel(id){
	$.ajax({
		type:"post",
		url:"__URL__/changel",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changess(id){
	$.ajax({
		type:"post",
		url:"__URL__/changess",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changeh(id){
	$.ajax({
		type:"post",
		url:"__URL__/changeh",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
function changek(id){
	$.ajax({
		type:"post",
		url:"__URL__/changek",
	    data:{id:id},
	    datatype:"text",
	    success:function(){
	    	
	    }
	})
}
</script>


  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
