<!DOCTYPE html>
<html>
{include file="public:header"}

<body class="no-skin">
<!--头部-->
{include file="public:nav"}

<div class="main-container ace-save-state" id="main-container">
  <!--菜单-->
  <script type="text/javascript">
  try{ace.settings.loadState('main-container')}catch(e){}
</script>

{include file="public:left"}

  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{:url('Index/index')}">首页</a>
          </li>
          <li class="active">待付款列表</li>
        </ul>

      </div>

      <div id="sidebar2" class="sidebar h-sidebar navbar-collapse collapse ace-save-state">
					<ul class="nav nav-list header-nav" id="header-nav">
							<li>
									<a href="{:url('Spot/dd')}">
										<o class="font12 {if condition='$status eq 0 '} rigbg {/if}">待付款列表</o>
									</a>
								<b class="arrow"></b>
							</li>
							<li>
									<a href="{:url('Spot/dd',array('status'=>1))}">
										<o class="font12 {if condition='$status eq 1'}  rigbg {/if}">已付款列表</o>
									</a>
								<b class="arrow"></b>
              </li>
              
              <li>
									<a href="{:url('Spot/dd',array('status'=>2))}">
										<o class="font12 {if condition='$status eq 2 '}  rigbg {/if}">已核销列表</o>
									</a>
								<b class="arrow"></b>
							</li>
					
	
																	
					</ul>
				</div>

      <div class="page-content">
        {include file="public:set"}
        <div class="row">
          <div class="col-xs-12">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="page-header">
                <div class="row">
              <div class="col-sm-2">
                <a class="btn btn-success btn-white btn-bold" href="javascript:;" id="out">
                  <i class="ace-icon fa fa-plus icon-only"></i>
                  导出excel</a>
                </div> 

                 <div class="col-sm-10 clearfix">
                  <form class="form-inline pull-right" action="" >
                    {if condition="$admin.level neq 2"}
                    <div class="form-group">
                        <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-th-list"></i>
                      </span>
                          <select class="form-control" name="shop_id" >
                              <option  value="0">请选择景区</option>
                            {volist name="shop" id="vp"}
                            <option {if condition="$shop_id eq $vp.id"} selected {/if} value="{$vp.id}">{$vp.name}</option>
                           {/volist}
                          </select>
                        </div>
                      </div>
                      {/if}
                    <div class="form-group">
                    	<div class="input-daterange input-group">
						<input type="text" class="form-control search-query" name="start" value="{$start}" placeholder="选择开始时间" />
						<span class="input-group-addon">
							<i class="fa fa-exchange"></i>
						</span>

						<input type="text" class="form-control search-query" name="end" value="{$end}" placeholder="选择结束时间" />
					</div>
                    	
                    </div>
                    
                    <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="code"  class="form-control search-query" value="{$code}" placeholder="请输入订单号码">
                      </div>
                    
                      <div class="input-group">
                        <input type="text" name="addr" class="form-control search-query" value="{$addr}" placeholder="请输入联系人信息">
                        <span class="input-group-btn">
										<button type="submit" class="btn btn-info btn-sm ajax-search-form">
											<span class="ace-icon fa fa-search icon-on-right bigger-120"></span> 搜索
									</button>
									</span>
                      </div>
                    </div>
                  </form>
                </div> 
                </div>
              </div>
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                 
                  <th>ID</th>
                  <th>订单号</th>
                  <th>实付金额</th>
                  <th>景区名称</th>
                  <th>门票名称</th>
                  <th>出游日期</th>
                  <th>归来日期</th>
                  <th>门票数量</th> 
                  <th>联系人</th>
                  <th>联系方式</th>
                  <th style="border-right:#ddd solid 1px;">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="v"}
                <tr class="ace-thumbnails">
                  <td><span class="badge badge-grey">{$v.id}</span></td>
                  <td>{$v.code}</td>
                  <td>{$v.price}</td>
                  <td>{$v.bname}</td>
                  <td>{$v.name}</td>
                  <td>{$v.start_time}</td>
                  <td>{$v.end_time}</td>
                  <td>{$v.num}</td>
              
                  <td>{$v.username}</td>
                  <td>{$v.phone}</td>
               
                  <td>
                    {if condition="$status eq 0"}
                    {if condition="$admin.level neq 2"}
                    <button class="btn btn-xs btn-success" type="button" onclick="change({$v.id})">
                      确认付款
                    </button> 
                    
                    <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                     删除订单
                    </button> 
                    {/if}
                    {/if}
                    {if condition="$status eq 1"}
                  
                    <button class="btn btn-xs btn-success" type="button" onclick="changes({$v.id})">
                        核销
                      </button> 
                      {if condition="$admin.level neq 2"}
                      <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                       删除订单
                      </button> 
                      {/if}
                      {/if}
                      {if condition="$status eq 2"}
                      {if condition="$admin.level neq 2"}
                        <button class="btn btn-xs btn-danger" type="button" onclick="dels({$v.id})">
                         删除订单
                        </button> 
                        {/if}
                        {/if}
                       <!-- <a class="btn btn-xs btn-info" href="{:url('updates',array('id'=>$v['id']))}">
                     修改订单
                    </a> -->
                  </td>
               
                </tr>
                {/volist}
                {empty name="list"}<tr><td colspan="18" class="text-center">暂无数据</td></tr>{/empty}
                </tbody>
              </table>
              <div class="text-center">
                {$page}
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.page-content -->
    </div>
  </div><!-- /.main-content -->

{include file="public:footer"}

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
  <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<script>
  jQuery(function($) {
	  
	  $('.input-daterange').datepicker({
		  autoclose:true,
		  language:"zh-CN",
          format:"yyyy-mm-dd"
          });
	  
    $('[data-rel=tooltip]').tooltip();

    $( "#hide-option" ).tooltip({
      hide: {
        effect: "explode",
        delay: 250
      }
    });

  })
</script>
<script>
 $("#out").click(function(){
	 var start="{$start}";
	 var end = "{$end}";
	 var code="{$code}"; 
	 var addr="{$addr}";
   var status = "{$status}";
   var shop_id ="{$shop_id}";
	 if(start == ''){
		 start=0;
	 }
	 if(end == ''){
		 end=0;
	 }
	
	 if(code == ''){
		 code = 0;
	 }
	 
	 if(addr == ''){
		 addr = 0;
	 }
	 location.href="__URL__/out/start/"+start+"/end/"+end+"/code/"+code+"/addr/"+addr+"/status/"+status+"/shop_id/"+shop_id;
 })
</script>
<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定删除吗？', {icon: 3}, function(index){
		    layer.close(index);
        $.ajax({
          type:"post",
          url:"__URL__/delete_dd",
            data:{id:id},
            datatype:"text",
            success:function(re){
               if(re == 0){
                  layer.msg("操作成功");
                  setTimeout("location.reload()",1000);
               }else{
                   layer.msg("操作失败");
                  setTimeout("location.reload()",1000);
               }
              
            }
        })
		  });
	    }
		</script>
<script type="text/javascript">
		function change(id){
			layer.confirm('你确定已付款吗？', {icon: 3}, function(index){
		    layer.close(index);
		    $.ajax({
          type:"post",
          url:"__URL__/change_dd",
            data:{id:id},
            datatype:"text",
            success:function(re){
               if(re == 0){
                  layer.msg("操作成功");
                  setTimeout("location.reload()",1000);
               }else{
                   layer.msg("操作失败");
                  setTimeout("location.reload()",1000);
               }
              
            }
        })
		  });
	    }
      function changes(id) {
      layer.prompt({
        title: '请输入核销码',
        formType: 3
      }, function (text, index) {
        
          $.ajax({
            type: "post",
            url: "__URL__/change_dds",
            data: {
              id: id,
              code: text
            },
            datatype: "text",
            success: function (re) {
              if (re == 0) {
                layer.close(index);
                layer.msg("核销成功");
                setTimeout("location.reload()",2000)
              
              } else {
                layer.close(index);
                layer.msg("核销失败");
                setTimeout("location.reload()",2000)
              }

            }
          })
        
      })
    }
      // function changes(id){
			// layer.confirm('你确定核销此订单吗？', {icon: 3}, function(index){
		  //   layer.close(index);
		  //   $.ajax({
      //     type:"post",
      //     url:"__URL__/change_dds",
      //       data:{id:id},
      //       datatype:"text",
      //       success:function(re){
      //          if(re == 0){
      //             layer.msg("操作成功");
      //             setTimeout("location.reload()",1000);
      //          }else{
      //              layer.msg("操作失败");
      //             setTimeout("location.reload()",1000);
      //          }
              
      //       }
      //   })
		  // });
	    // }
		</script>



  <script>
  $("#change").click(function(){
  	$("#sortForm").submit();
  })

  </script>
</body>
</html>
