<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="" style="padding-bottom:56px;">

	<!-- 返回 -->
	<div class="back_box">
		
		<ul class="bread">
				<li>
				 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
				</li>
				<li>
				 <a href="{:url('Group/index')}">跟团定制</a>&nbsp;&gt;
				</li>
				<li>
				<a href="javascript:;">跟团游详情</a>
				</li>
			   </ul>
	</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- banner -->
	<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
		<ul class="am-slides">
			<li class="travel_item" style="background-image: url({$re.image});background-size: cover;background-position: center;"></li>
		
		</ul>
	</div>

	<div class="bd_btm_10">
		<div class="p_12">
			<h3 class="am-text-truncate font_bold mar_btm_6">{$re.title}</h3>
			<div class="group_desc mar_btm_6 ">{$re.marray}</div>
			<div class="col_main">￥{$re.qprice}起</div>
			<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$re.yprice}</div>
		</div>
	</div>

	<div class="bd_btm_10">
		<div class="p_12">
			<div class="flex_normal mar_btm_12">
				<img class="mar_rt_12" src="__HOME__/img/icon_tuan_type.png" width="20" height="20" alt="">
				<div>参团类型<span class="mar_lt_12 col_nine">以下价格均为起价</span></div>
			</div>
			<div class="col_nine mar_btm_6 ">
				{$re.meal}
			</div>
			<div class="col_main  mar_btm_12">成人:￥{$re.cprice} | 儿童:￥{$re.eprice}</div>
			<div class="flex_normal mar_btm_6">
				<img class="mar_rt_12" src="__HOME__/img/icon_tuan_tese.png" width="20" height="20" alt="">
				<div>行程特色</div>
			</div>
			<div class=" mar_btm_12">{$re.trip}</div>
			<div class="flex_normal mar_btm_6">
				<img class="mar_rt_12" src="__HOME__/img/icon_tuan_tese.png" width="20" height="20" alt="">
				<div>行程安排</div>
			</div>
			<!-- <ul class="my_box">
				<li class="my_item">
					<h6 class="flex_normal"><span class="am-btn am-btn-danger bd_radius mar_rt_12">第1天</span><div class="group_desc flex_1 am-text-default">自行前往 昆明站乘动车至大理—入住大理酒店</div></h6>
					<ul>
						<li class="flex_normal mar_btm_6">
							<img src="__HOME__/img/icon_xingcheng_1.png" width="18" height="18" class="mar_rt_6" alt=""><span>交通：高铁</span>
						</li>
						<li class="flex_normal mar_btm_6">
							<img src="__HOME__/img/icon_xingcheng_2.png" width="18" height="18" class="mar_rt_6" alt=""><span>餐饮:敬请自理</span>
						</li>
						<li class="flex_normal mar_btm_6">
							<img src="__HOME__/img/icon_xingcheng_3.png" width="18" height="18" class="mar_rt_6" alt=""><span>住宿：大理</span>
						</li>
					</ul>
					<div class=" mar_btm_12">鸡蛋岛很适合小孩子或者不会游泳的人。海岸边及脚踝处岛很适合小孩子或者不会游泳的人。海岸边及脚踝处鸡蛋适合小孩子或者不会游泳的人。海岸边及脚踝处鸡蛋岛很小孩子或者不会游泳的人。海岸边及脚踝处...</div>
					<img class="am-block bd_radius" src="__HOME__/img/group_pic.png" width="100%" height="auto" alt="">
				</li>
				<li class="my_item">
					<h6 class="flex_normal"><span class="am-btn am-btn-danger bd_radius mar_rt_12">第2天</span><div class="group_desc flex_1 am-text-default">自行前往 昆明站乘动车至大理—入住大理酒店</div></h6>
					<ul>
						<li class="flex_normal mar_btm_6">
							<img src="__HOME__/img/icon_xingcheng_1.png" width="18" height="18" class="mar_rt_6" alt=""><span>交通：高铁</span>
						</li>
						<li class="flex_normal mar_btm_6">
							<img src="__HOME__/img/icon_xingcheng_2.png" width="18" height="18" class="mar_rt_6" alt=""><span>餐饮:敬请自理</span>
						</li>
						<li class="flex_normal mar_btm_6">
							<img src="__HOME__/img/icon_xingcheng_3.png" width="18" height="18" class="mar_rt_6" alt=""><span>住宿：大理</span>
						</li>
					</ul> -->
					<div class=" mar_btm_12">{$re.plan}</div>
				</li>
			</ul>
			<div class="flex_normal mar_btm_6">
				<img class="mar_rt_12" src="__HOME__/img/icon_tuan_price.png" width="20" height="20" alt="">
				<div>费用说明</div>
			</div>
		
			<div class=" mar_btm_12">{$re.cost}</div>
	
			<div class="flex_normal mar_btm_6">
				<img class="mar_rt_12" src="__HOME__/img/icon_tuan_price.png" width="20" height="20" alt="">
				<div>温馨提示</div>
			</div>
			<div class="">{$re.tips}</div>
		</div>
	</div>

	<div class="hotel_fixed flex_normal bg_white bd_top">
		<div class="pad_12 flex_1">
			{$re.ticket} 抢购 ￥<span class="col_main am-text-lg font_bold">{$re.price}</span>
		</div>
		<a id="qiang_gou" href="{:url('Group/go_buy',array('id'=>$re['id']))}" class="am-btn am-btn-danger" style="line-height:36px;">立即预订</a>
	</div>

</body>

</html>