<div class="btm_wrap bd_top bg_white">
	<ul class="btm_nav flex_around ">
	{if condition="CONTROLLER_NAME eq 'Index' "}<li class="btm_cell active "> {else /} <li class="btm_cell">{/if}
			<a href="{:url('Index/index')}">
				<div class="btm_bg index"></div>
				<h5>首页</h5>
			</a>
		</li>
		{if condition="CONTROLLER_NAME eq 'News' "}<li class="btm_cell active "> {else /} <li class="btm_cell"> {/if}
			<a href="{:url('News/index')}">
				<div class="btm_bg news"></div>
				<h5>资讯</h5>
			</a>
		</li>
		{if condition="CONTROLLER_NAME eq 'Rural' "}<li class="btm_cell active "> {else /} <li class="btm_cell">{/if}
			<a href="{:url('Publish/publish')}">
				<div class="btm_bg photo"></div>
				<h5>旅拍</h5>
			</a>
		</li>
		{if condition="CONTROLLER_NAME eq 'Goods' "}<li class="btm_cell active "> {else /} <li class="btm_cell"> {/if}
			
						<a href="{:url('Goods/index')}">
							<div class="btm_bg cart"></div>
							<h5>商城</h5>
						</a>
					</li>
		{if condition="CONTROLLER_NAME eq 'User' "}<li class="btm_cell active "> {else /} <li class="btm_cell"> {/if}
			<a href="{:url('User/index')}">
				<div class="btm_bg user"></div>
				<h5>我的</h5>
			</a>
		</li>
	</ul>
</div>

