<head>
	<meta charset="utf-8">
<meta name="keywords" content="{$seo.keywords}">
<meta name="description" content="{$seo.description}">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" href="__HOME__/css/amazeui.min.css">
<link rel="stylesheet" href="__HOME__/css/style.min.css">
<link rel="stylesheet" href="__HOME__/css/scs.min.css">
<script src="__HOME__/js/jquery.min.js"></script>
<script src="__HOME__/js/amazeui.min.js"></script>
<script src="__HOME__/js/jquery.SuperSlide.2.1.3.js"></script>
<script src="__HOME__/js/myjs.js"></script>
<script src="__HOME__/js/jquery.scs.min.js"></script>
<script src="__HOME__/js/CNAddrArr.min.js"></script>
<title>{$sys.name}</title>
{$seo.code}

<script>
// 获取当前城市及天气状态
function showLocation(data) {
    console.log(data.content.address_detail.city);
}
$.getScript("http://api.map.baidu.com/location/ip?ak=Za6Z8GfT2bPsCz7L5mV3jUImVeFDdcdR&callback=showLocation");
var city = "{$city_index}";
$.ajax({
    type: 'GET',
    url: 'https://www.tianqiapi.com/api/',
    data: 'version=v1&style=1001&city='+city,
    dataType: 'JSON',
    error: function () {
        // alert('网络错误');
    },
    success: function (res) {

       
        if(city == ''){

            city = res.city;

            $.ajax({
           type:"post",
           url:"{:url('Index/save_citys')}",
           data:{city:city},
           dataType:"text",
           success:function(){

           }
          })
        }
      
        uptime = res.update_time.substring(11);
        uptime = uptime.substring(0,uptime.length-3);
       $('#weather').html('今日' + city + '<br>' + res.data[0].wea + ' ' + res.data[0].tem1 + '/' + res.data[0].tem2);

       $(".city").html(city);


    
    }
});



</script>
<script src="__ADMIN__/assets/layer/layer.js"></script>
<script src="__ADMIN__/assets/js/jquery.form.js"></script>
</head>