<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="bg_normal" style="padding-bottom: 76px;">

	<!-- 返回 -->
	<div class="back_box">
		新建收货地址
		<a class="back_icon" href="javascript:history.back(-1)">
			<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</a>
	</div>

	<form action="#">

		<div class="bd_btm_10"></div>
		<div class="pad_12 bg_white">
			<div class="flex_normal pd_12">
				<label for="names" class="made_lb">联系人</label>
				<input type="text" id="names" name="username" class="flex_1 lg" placeholder="收货人姓名" required>
			</div>
			<div class="flex_normal pd_12">
				<label for="tels" class="made_lb">联系方式</label>
				<input type="number"  class="flex_1 lg" id="tels"  placeholder="收货人手机号" name="phone" required>
			</div>
			<div class="flex_normal pd_12">
				<label for="adrs" class="made_lb">地区</label>
				<input type="text" id="adrs" name="addr" class="flex_1 lg" placeholder="选择省/市/区" readonly required>
			</div>
			<div class="flex_normal pd_12">
				<label for="locals" class="made_lb">收货地址</label>
				<input type="text" id="locals" name="addrs" class="flex_1 lg" placeholder="详细楼号/门牌号/楼层" required>
			</div>
		</div>

		<div class="confirm_wrap p_12">
			<button type="button" id="btn" class="confirm_btn">保存地址</button>
		</div>

	</form>

	<script type="text/javascript">

		$(function () {
			/**
			 * 通过数组id获取地址列表数组
			 *
			 * @param {Number} id
			 * @return {Array} 
			 */
			function getAddrsArrayById(id) {
				var results = [];
				if (addr_arr[id] != undefined)
					addr_arr[id].forEach(function (subArr) {
						results.push({
							key: subArr[0],
							val: subArr[1]
						});
					});
				else {
					return;
				}
				return results;
			}
			/**
			 * 通过开始的key获取开始时应该选中开始数组中哪个元素
			 *
			 * @param {Array} StartArr
			 * @param {Number|String} key
			 * @return {Number} 
			 */
			function getStartIndexByKeyFromStartArr(startArr, key) {
				var result = 0;
				if (startArr != undefined)
					startArr.forEach(function (obj, index) {
						if (obj.key == key) {
							result = index;
							return false;
						}
					});
				return result;
			}

			//bind the click event for 'input' element
			$("#adrs").click(function () {
				var PROVINCES = [],
					startCities = [],
					startDists = [];
				//Province data，shall never change.
				addr_arr[0].forEach(function (prov) {
					PROVINCES.push({
						key: prov[0],
						val: prov[1]
					});
				});
				//init other data.
				var $input = $(this),
					dataKey = $input.attr("data-key"),
					provKey = 1, //default province 北京
					cityKey = 36, //default city 北京
					distKey = 37, //default district 北京东城区
					distStartIndex = 0, //default 0
					cityStartIndex = 0, //default 0
					provStartIndex = 0; //default 0

				if (dataKey != "" && dataKey != undefined) {
					var sArr = dataKey.split("-");
					if (sArr.length == 3) {
						provKey = sArr[0];
						cityKey = sArr[1];
						distKey = sArr[2];

					} else if (sArr.length == 2) { //such as 台湾，香港 and the like.
						provKey = sArr[0];
						cityKey = sArr[1];
					}
					startCities = getAddrsArrayById(provKey);
					startDists = getAddrsArrayById(cityKey);
					provStartIndex = getStartIndexByKeyFromStartArr(PROVINCES, provKey);
					cityStartIndex = getStartIndexByKeyFromStartArr(startCities, cityKey);
					distStartIndex = getStartIndexByKeyFromStartArr(startDists, distKey);
				}
				var navArr = [{ //3 scrollers, and the title and id will be as follows:
					title: "省",
					id: "scs_items_prov"
				}, {
					title: "市",
					id: "scs_items_city"
				}, {
					title: "区",
					id: "scs_items_dist"
				}];
				SCS.init({
					navArr: navArr,
					onOk: function (selectedKey, selectedValue) {
						$input.val(selectedValue).attr("data-key", selectedKey);
					}
				});
				var distScroller = new SCS.scrollCascadeSelect({
					el: "#" + navArr[2].id,
					dataArr: startDists,
					startIndex: distStartIndex
				});
				var cityScroller = new SCS.scrollCascadeSelect({
					el: "#" + navArr[1].id,
					dataArr: startCities,
					startIndex: cityStartIndex,
					onChange: function (selectedItem, selectedIndex) {
						distScroller.render(getAddrsArrayById(selectedItem.key), 0); //re-render distScroller when cityScroller change
					}
				});
				var provScroller = new SCS.scrollCascadeSelect({
					el: "#" + navArr[0].id,
					dataArr: PROVINCES,
					startIndex: provStartIndex,
					onChange: function (selectedItem,
						selectedIndex
					) { //re-render both cityScroller and distScroller when provScroller change
						cityScroller.render(getAddrsArrayById(selectedItem.key), 0);
						distScroller.render(getAddrsArrayById(cityScroller.getSelectedItem().key), 0);
					}
				});
			});
			// 选择城市三级联动止

			//保存收货地址
			$("#btn").click(function(){
				var username=$('input[name=username]').val();

				console.log(username);
				

				if($.trim(username) == ''){
					layer.msg("请输入收货人姓名");return  false;
				}
				var phone=$('input[name=phone]').val();

				var phone_reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
			
				if (!phone_reg.test(phone)) {
					layer.msg("请输入正确的手机号码");
					return false;
				}

				var addr=$('input[name=addr]').val();

				if($.trim(addr) == ''){
					layer.msg("请选择地区");return  false;
				}

				var addrs=$('input[name=addrs]').val();

				if($.trim(addrs) == ''){
					layer.msg("请输入详情的收货地址");return  false;
				}

				$.ajax({
					type:"post",
					url:"{:url('Users/save_addr')}",
					data:{username:username,phone:phone,addr:addr,addrs:addrs},
					dataType:"text",
					success:function(re){
                           if(re == 0){
							   layer.msg("保存成功");
							   window.location.href=document.referrer;
						   }else{
							   layer.msg("保存失败");
							   window.location.href=document.referrer;
						   }
					}
				})
			})

		});
	</script>

		

</body>

</html>