<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

	<!-- 返回 -->
	<div class="back_box">
		待付款订单
		<a class="back_icon" href="{:url('Users/indexs')}">
			<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</a>
	</div>

	<div class="order_menu">
			<a href="order_1.html" class="order_single">待付款</a>
			<a href="javascript:;" class="order_single active">待发货</a>
			<a href="order_3.html" class="order_single">待收货</a>
			<a href="order_4.html" class="order_single">待评价</a>
			<a href="order_6.html" class="order_single">已完成</a>
			<a href="order_5.html" class="order_single">退款/售后</a>
		</div>

	<ul class="order_list">
	  {volist name="res" id="v"}	
		<li class="order_danyuan bd_btm_10">
			<div class="flex_between p_12">
				<h6>订单号：{$v.code}</h6><span class="col_main am-text-sm">等待卖家发货</span>
			</div>
		  {volist name="$v['list']" id="p"}	
			<div class="order_goods">
	<img class="mar_rt_12" src="__HOME__/img/goods_pic.png" width="90" height="90" alt="">
	<div class="flex_1">
		<div class="order_wrap">
			<div class="flex_1">
				<div class="flex_between">
					<h5 class="am-text-truncate">{$p.gname}</h5>
					<span class="mar_lt_12">￥{$p.price}</span>
				</div>
				<div class="order_desc am-text-sm col_nine">
					<h6>{$p.sname}</h6>
					
				</div>
			</div>
			<div class="am-text-right col_nine am-text-sm">X{$p.num}</div>
		</div>
	</div>
</div>
		{/volist}	
			<div class="p_12 bd_btm am-text-right">
				合计：<span class="col_main am-text-lg">￥{$v.zprice}</span>
			</div>
			<div class="p_12 am-text-right">
				<a href="{:url('Users/refund',array('did'=>$v['did']))}" class="order_cancle am-btn am-btn-xs am-round am-btn-default">退款</a>
			</div>
		</li>
		{/volist}
	</ul>

	<div class="no_data">暂无更多订单~</div>



</body>

</html>