<!DOCTYPE html>
<html lang="en">

{include file="public:header"}
<body class="">
		<div class="back_box">
				砍价记录
				<a class="back_icon" href="javascript:history.back(-1)">
					<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
				</a>		
			</div>
	<!-- 公共顶部 -->
<div class="top_box flex_between bg_white pad_12 bd_btm">
	<a href="index.html">
		<img src="__HOME__/img/logo.png" width="91" height="30" alt="">
	</a>
	<div class="am-text-sm col_main" id="weather"></div>
</div>

	<ul class="order_hd flex_around bd_btm">
		
		<li class="order_item active tab_item">砍价成功</li>
		<li class="order_item tab_item">砍价失败</li>
		<li class="order_item tab_item">已过期</li>
	</ul>

	<div class="tab_wrap">
		<div class="tab_cont p_12 active">
			<ul>
				{volist name="rec" id="vc"}
				<li class="ticket_piao pd_12 bd_btm">
						<img class="mar_rt_12 mar_top_6" src="__HOME__/img/icon_ticket.png" width="20" height="20" alt="">
	<div class="flex_1">
		<a href="javascript:;" class="am-text-truncate am-block mar_btm_6">{$vc.name}</a>
		<div class="am-text-sm col_nine mar_btm_6">参与人数：{$vc.number}</div>
		<div class="am-text-sm col_nine">砍掉价格:{$vc.already_price}</div>
	</div>
	<div class="mar_lt_12">￥{$vc.surplus_price}</div>
	
						<span class="ticket_status col_main"><a class="am-btn am-btn-danger am-btn-xs am-round" href="{:url('Bargain/buy')}?id={$vc.id}">支付</a></span>
					</li>
                 {/volist}
			</ul>
			<div class="no_data">没有更多信息~</div>
		</div>
		<div class="tab_cont p_12">
			<ul>
					{volist name="res" id="vs"}
					<li class="ticket_piao pd_12 bd_btm">
							<img class="mar_rt_12 mar_top_6" src="__HOME__/img/icon_ticket.png" width="20" height="20" alt="">
							<div class="flex_1">
									<a href="javascript:;" class="am-text-truncate am-block mar_btm_6">{$vs.name}</a>
									<div class="am-text-sm col_nine mar_btm_6">参与人数：{$vs.number}</div>
									<div class="am-text-sm col_nine">砍掉价格:{$vs.already_price}</div>
								</div>
								<div class="mar_lt_12">￥{$vs.surplus_price}</div>
		
							<span class="ticket_status col_main">砍价失败</span>
						</li>
						{/volist}
			</ul>
			<div class="no_data">没有更多信息~</div>
		</div>
		<div class="tab_cont p_12">
			<ul>
					{volist name="reg" id="vg"}
				<li class="ticket_piao pd_12 bd_btm">
					<img class="mar_rt_12 mar_top_6" src="__HOME__/img/icon_ticket.png" width="20" height="20" alt="">
					<div class="flex_1">
							<a href="javascript:;" class="am-text-truncate am-block mar_btm_6">{$vg.name}</a>
							<div class="am-text-sm col_nine mar_btm_6">参与人数：{$vg.number}</div>
							<div class="am-text-sm col_nine">砍掉价格:{$vg.already_price}</div>
						</div>
						<div class="mar_lt_12">￥{$vg.surplus_price}</div>

						<span class="ticket_status col_main">已过期</span>
				</li>
				{/volist}
			</ul>
			<div class="no_data">没有更多信息~</div>
		</div>
	</div>
	<script type="text/javascript">
		function dels(id){
			layer.confirm('你确定取消此订单吗？', {icon: 3}, function(index){
		    layer.close(index);
        $.ajax({
          type:"post",
          url:"__URL__/delete_dd",
            data:{id:id},
            datatype:"text",
            success:function(re){
               if(re == 0){
                  layer.msg("操作成功");
                  setTimeout("location.reload()",1000);
               }else{
                   layer.msg("操作失败");
                  setTimeout("location.reload()",1000);
               }
              
            }
        })
		  });
	    }
		</script>
</body>

</html>