<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

	<!-- 返回 -->
	<div class="back_box">
	
		<ul class="bread">
				<li>
				 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
				</li>
				<li>
				 <a href="javascript:;">民宿/酒店</a>
				</li>
				
			   </ul>
	</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- 搜索框 -->
<div class="search_box p_12 bg_normal">
  <form action="{:url('Hotel/search')}" method="post">
	<div class="flex_normal">
		<div class="search_wrap pad_12 flex_1 bg_white bd_radius  flex_between">
			<div class="search_location flex_normal pad_rt_12 mar_rt_12 col_main">
				<img class="mar_rt_6" src="__HOME__/img/icon_location.png" width="16" height="16" alt=""><span class="city"></span>
			</div>
			<input class="flex_1" type="text" name="title" placeholder="请输入搜索关键词">
			<img class="mar_lt_12" src="__HOME__/img/icon_search.png" width="16" height="16" alt="">
		</div>
		<button class="mar_lt_12" type="submit">搜索</button>
	</div>
</form>	
</div>

<!-- 选项 -->
<div class="choice_box bd_btm">
	<ul class="choice_ceng flex_around bg_white p_12">
		<li class="choice_item flex_center">
			<span class="mar_rt_6">{$arr.cname}</span><img src="__HOME__/img/icon_down.png" width="12" height="12" alt="">
		</li>
		<li class="choice_item flex_center">
			<span class="mar_rt_6">{$arr.xname}</span><img src="__HOME__/img/icon_down.png" width="12" height="12" alt="">
		</li>
		
	</ul>
	<ul class="choice_wrap" style="top: 44px;">
		<form id="city_form" action="">
		<li class="choice_cont">
			<div class="choice_scroll">
				<label for="area_1" onchange="submitForm();" class="choice_lb p_12 flex_between bd_btm">
					<h6>不限</h6><input type="radio"  name="cid" value="0" id="area_1">
				</label>
				{volist name="city" id="vc" key="kc"}
				<label for="area_{$kc+1}" onchange="submitForm();" class="choice_lb p_12 flex_between bd_btm">
					<h6>{$vc.name}</h6><input type="radio" name="cid" {if condition="$arr.cid eq $vc.id"} checked {/if} value="{$vc.id}" id="area_{$kc+1}">
				</label>
				{/volist}
				
			</div>
	
		</li>
		<li class="choice_cont">
			<div class="choice_scroll">
				<label for="kind_1" onchange="submitForm();" class="choice_lb p_12 flex_between bd_btm">
					<h6>不限</h6><input type="radio" name="xid" value="0" id="kind_1">
				</label>
				{volist name="area" id="va" key="ka"}
				<label for="kind_{$ka+1}" onchange="submitForm();" class="choice_lb p_12 flex_between bd_btm">
					<h6>{$va.name}</h6><input type="radio" value="{$va.id}" name="xid" {if condition="$arr.xid eq $va.id"} checked {/if} id="kind_{$ka+1}">
				</label>
				{/volist}
			</div>
	
		</li>
	
	</form>	
	</ul>
</div>
<!-- <div class="common_bg" id="common_bg"></div> -->

<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}' style="position: relative;">
		<ul class="am-slides">
		 {volist name="lb" id="vb"}	
			<li>
				<a {if condition="$vb.url neq '' "} href="{$vb.url}" {/if} >
					<div style="height: 150px;background-image: url({$vb.image});background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
				</a>
				<!-- <img src="{$vb.image}"> -->
			</li>
		{/volist}
		</ul>
		
	</div>

	

	<ul class="order_hd flex_around bd_btm">
		<li class="order_item active tab_item">民宿</li>
		<li class="order_item tab_item">酒店</li>
	</ul>

	<ul class="tab_wrap">

		
			<li class="tab_cont active">
					<!-- 民宿 -->
					<a href="javascript:;" class="am-block p_12 bg_white">
						<div class="title_left am-text-lg font_bold">{$home_lb.name}</div>
						<div class="title_desc  col_nine">{$home_lb.desc}</div>
					</a>
					<div class="list_box pad_lt_12 pad_btm_12 bd_btm">
						{volist name="home" id="vh"}
						<a class="mar_rt_12" href="{:url('Hotel/detail',array('id'=>$vh['id']))}">
			<img class="bd_radius mar_btm_6" src="{$vh.image}" width="186" height="74" alt="">
			<h4 class="am-text-truncate">{$vh.name}</h4>
			<div class="col_main">
				<span class="am-text-xs">￥</span><span class="am-text-lg mar_lt_6 mar_rt_6">{$vh.money}</span>
				<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$vh.yprice}</div>
			</div>
		</a>
				{/volist}
					</div>
		
					<h5 class="p_12 am-text-lg">热销推荐</h5>
					<div class="pad_12">
						{volist name="homes" id="p"}	
						<a href="{:url('Hotel/detail',array('id'=>$p['id']))}" class="flex_normal pd_12 bd_btm">
			<img class="bd_radius mar_rt_12" src="{$p.image}" width="130" height="90" alt="">
			<div class="flex_1">
				<div class="hotel_wrap">
					<div class="flex_1">
						<h3 class="am-text-truncate">{$p.name}</h3>
						<div class=" col_nine">{$p.addr}</div>
					</div>			
					<div class="flex_between">
						<span class="col_deputy">{$p.score}诚信分</span>
						<div class="col_nine "><span class="col_main mar_rt_6 am-text-default">￥{$p.money}</span>/人</div>
						<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$p.yprice}</div>
					</div>
				</div>
			</div>
		</a>
				{/volist}	
					</div>
		
					<div class="no_data">暂无更多记录~</div>
				
				</li>

		<li class="tab_cont ">
			<!-- 酒店 -->
			<a href="javascript:;" class="am-block p_12 bg_white">
				<div class="title_left am-text-lg font_bold">{$hotel_lb.name}</div>
				<div class="title_desc  col_nine">{$hotel_lb.desc}</div>
			</a>
			<div class="list_box pad_lt_12 pad_btm_12 bd_btm">
			{volist name="hotel" id="v"}
				<a class="mar_rt_12" href="{:url('Hotel/detail',array('id'=>$v['id']))}">
	<img class="bd_radius mar_btm_6" src="{$v.image}" width="186" height="74" alt="">
	<h4 class="am-text-truncate">{$v.name}</h4>
	<div class="col_main">
		<span class="am-text-xs">￥</span><span class="am-text-lg mar_lt_6 mar_rt_6">{$v.money}</span>
		<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$v.yprice}</div>
	</div>
</a>
		{/volist}		
			</div>

			<h5 class="p_12 am-text-lg">热销推荐</h5>
			<div class="pad_12">
			{volist name="hotels" id="vs"}	
				<a href="{:url('Hotel/detail',array('id'=>$vs['id']))}" class="flex_normal pd_12 bd_btm">
	<img class="bd_radius mar_rt_12" src="{$vs.image}" width="130" height="90" alt="">
	<div class="flex_1">
		<div class="hotel_wrap">
			<div class="flex_1">
				<h3 class="am-text-truncate">{$vs.name}</h3>
				<div class=" col_nine">{$vs.addr}</div>
			</div>			
			<div class="flex_between">
				<span class="col_deputy">{$vs.score}诚信分</span>
				<div class="col_nine "><span class="col_main mar_rt_6 am-text-default">￥{$vs.money}</span>/人</div>
				<div style="color: #CCCCCC;text-decoration: line-through;font-size: 12px;">￥{$vs.yprice}</div>
			</div>
		</div>
	</div>
</a>
		{/volist}		
			</div>

			<div class="no_data">暂无更多记录~</div>

		</li>

	</ul>

	<!-- 优惠券弹窗 -->	
	{if condition="$re.open eq 1"}		
	<div class="wine_tan">
		<img class="wine_close" src="__HOME__/img/icon_close_white.png" width="24" height="24" alt="">
		<div class="wine_man">满{$re.moneys}元可用</div>
		<div class="wine_price">{$re.money}</div>
		<a class="wine_btn" href="javascript:;">立即领取</a>
	</div>
	<!-- 背景蒙版 -->
	<div class="common_bg" id="common_bg" style="z-index: 999"></div>
{/if}
	

	<script>
		$(function () {
			// 优惠券弹窗
			setTimeout(function () {
				$('#common_bg').fadeIn(600)
				$('.wine_tan').fadeIn(600)
			}, 1500)

			// 背景蒙版点击
			$('#common_bg').click(function () {
				$('#common_bg').fadeOut(600)
				$('.wine_tan').fadeOut(600)
			})

			// 弹窗关闭按钮
			$('.wine_close').click(function () {
				$('#common_bg').fadeOut(600)
				$('.wine_tan').fadeOut(600)
			})

			// 领取成功
			$('.wine_btn').click(function () {
				$.ajax({
					type:"post",
					url:"{:url('Hotel/save_coupon')}",
					dataType:"text",
					success:function(re){
                         if(re == 0){
							 layer.msg("领取成功");
							 $('#common_bg').fadeOut(600)
							 $('.wine_tan').fadeOut(600)
						 }else{
							 layer.msg("领取失败,请稍后再试");
							 setTimeout("location.reload()",1000)
						 }
					}
				})
			})

		})
	</script>

<script>

	function submitForm(){
		var form = document.getElementById("city_form");
		form.submit();
	}
		// 当radio选中时的高亮
		function isChecked() {
			$('input[type=radio]:checked').prev('h6').css('color', '#EB4949')
			$('input[type=radio]:not(:checked)').prev('h6').css('color', '#333')
		}
	
		function isClose() {
			$('.choice_cont').slideUp()
			$('#common_bg').fadeOut()
			$('body').removeClass('no_scroll')
		}
	
		$(function () {
	
			// 分类选项js
			isChecked()
	
			let common_bg = $('#common_bg')
	
			$('input[type=radio]').change(function () {
				isChecked()
			})
	
			// 分类弹出层按钮
			$('.choice_item').click(function () {
	
				let index = $(this).index()
				let isNone = $('.choice_cont').eq(index).css('display')
				if (isNone === 'block') {
					isClose()
					return
				}
				$('.choice_cont').eq(index).slideDown().siblings().slideUp()
				common_bg.fadeIn()
				$('body').addClass('no_scroll')
	
			})
	
			// 背景蒙版点击
			common_bg.click(function () {
				isClose()
			})
	
	
			// 确认按钮
			$('.choice_confirm').click(function () {
	
				let indexs = $(this).parents('.choice_cont').index()
	
				let names = $(this).parents('.choice_flex').prev('.choice_scroll').find(
					'input[type=radio]:checked').prev('h6').text()
				if (names === '') {
					alert('请选择类目')
					return
				} else {
					
						$("#food").submit();
				
					$('.choice_item').eq(indexs).find('span').text(names)
					$(this).parents('.choice_cont').slideUp()
					common_bg.fadeOut()
					$('body').removeClass('no_scroll')
	
					// 发送参数到服务器
					// $.ajax({
					// 	type: 'POST',
					// 	url: '后台接口地址',
					// 	data: {
					// 		name: names // 发送参数
					// 	},
					// 	async: true,
					// 	success: function(res) {
					// 		console.log(res) // 接收数组数据				
					// 	}
					// })
	
				}
	
			})
	
			// 重置按钮
			$('.choice_reset').click(function () {
				let reset = $(this).parents('.choice_flex').prev('.choice_scroll')
				reset.find('input[type=radio]').prop('checked', false)
				reset.find('h6').css('color', '#333')
			})
			// 分类选项js
	
		})
	</script>
</body>

</html>