<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

	<!-- 返回 -->
	<div class="back_box">
		酒店民宿
		<a class="back_icon" href="{:url('Hotel/index')}">
			<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
		</a>
	</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- 搜索框 -->
<div class="search_box p_12 bg_normal">
  <form action="{:url('Hotel/search')}" method="post">
	<div class="flex_normal">
		<div class="search_wrap pad_12 flex_1 bg_white bd_radius am-text-sm flex_between">
			<div class="search_location flex_normal pad_rt_12 mar_rt_12 col_main">
				<img class="mar_rt_6" src="__HOME__/img/icon_location.png" width="16" height="16" alt=""><span>郑州</span>
			</div>
			<input class="flex_1" type="text" name="title" placeholder="请输入搜索关键词">
			<img class="mar_lt_12" src="__HOME__/img/icon_search.png" width="16" height="16" alt="">
		</div>
		<button class="mar_lt_12" type="submit">搜索</button>
	</div>
</form>	
</div>



	<ul class="tab_wrap">
		<li class="tab_cont active">
		
			<h5 class="p_12 am-text-lg">搜索结果</h5>
			<div class="pad_12">
			{volist name="hotel" id="vs"}	
				<a href="{:url('Hotel/detail',array('id'=>$vs['id']))}" class="flex_normal pd_12 bd_btm">
	<img class="bd_radius mar_rt_12" src="{$vs.image}" width="130" height="90" alt="">
	<div class="flex_1">
		<div class="hotel_wrap">
			<div class="flex_1">
				<h3 class="am-text-truncate">{$vs.name}</h3>
				<div class="am-text-sm col_nine">{$vs.addr}</div>
			</div>			
			<div class="flex_between">
				<span class="col_deputy">{$vs.score}诚信分</span>
				<div class="col_nine am-text-sm"><span class="col_main mar_rt_6 am-text-default">￥{$vs.money}</span>/人</div>
			</div>
		</div>
	</div>
</a>
		{/volist}		
			</div>

			<div class="no_data">暂无更多记录~</div>

		</li>

	</ul>


	



</body>

</html>