<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="" style="padding-bottom: 190px;">

		<div class="back_box">
			
				<ul class="bread">
						<li>
						 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						</li>
						<li>
						 <a href="{:url('Rural/index')}">乡村旅游</a>&nbsp;&gt;
						</li>
						<li>
						<a href="javascript:;">{$re.title|mb_substr=###,0,15,'utf8'}...</a>
						</li>
					   </ul>			
			</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<!-- banner -->
	<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
		<ul class="am-slides">
			{volist name="banner" id="v"}
			<li class="travel_item" style="background-image: url({$v})"></li>
			{/volist}
		</ul>
	</div>

	

	<div class="p_12">
		<h3 class="am-text-lg mar_btm_12 font_bold">{$re.title}</h3>
		<div class="flex_between">
			<div class="pic_scan am-text-xs">{$re.looks}</div>
			<div class="flex_normal">
				<!-- <img class="bd_radius_50 mar_rt_6" src="" width="20" height="20" alt=""> -->
				<span class="am-text-xs" style="margin-right: 15px;">文章来源: {$re.source}</span>
				<span class="am-text-xs">作者: {$re.author}</span>
			</div>
		</div>
		<!-- 新增 -->
		<div class="q_info">

				<div class="detail_box">
						{$re.content}
					</div>
			
			<div class="q_info_item">
				<div class="q_info_title">路线</div>
				<div class="q_info_content">
					{$re.route}
			</div>
			</div>
			<div class="q_info_item">
					<div class="q_info_title">行程</div>
					<div class="q_info_content">
						{$re.trip}
				</div>
				</div>
			<div class="q_info_item">
				<div class="q_info_title">最佳游玩时间</div>
				<div class="q_info_content">
					{$re.play}
			</div>
			</div>
		</div>


		

		

		<div class="title_left flex_normal">
			<span>评论({$cou})</span>
		</div>
	
		<div class="q_comment">
			<ul>
				{volist name="assess" id="va"}
					<li class="q_comment_wrap">
						<div style="display: flex;justify-content: space-between;">
								<div class="q_comment_item">
										<div class="q_comment_avatar" style="background-image: url('{$va.image}');"></div>
										<div class="q_comment_name">{$va.nickname}</div>
									</div>
								{if condition="$uids eq $va.uid"}	
									<div style="width:15px;height:15px;float:right;background-image: url('__HOME__/img/ico-del.png');background-size: 15px;" class="delete" data-id="{$va.id}"></div>
									{/if}
						</div>
						
						<div style="padding-left: 34px;">
								{$va.content}
								<div style="margin-top: 10px;"><span style="color: #B3B3B3;margin-right:20px;">{$va.addtime|date="Y/m/d",###}</span></div>
						</div>
						</li>
					{/volist}	
			</ul>
	
		</div>

	</div>

	<div style="position: fixed;left: 0;bottom: 0;width:100%;background-color: #fff;">
		<div class="mess-bar" style="position: static;border-bottom: 1px solid #E6E6E6;">
			<div class="mess-bar-text">
				<input type="text" id="content" placeholder="欢迎发表你的评论">
			</div>
			<div class="mess-bar-btn" id="send" >发送</div>
			<div class="mess-bar-count" id="count">
				{if condition="$cou neq 0"}
					<span class="info">{$cou}</span>
				{/if}
			</div>
			<div {if condition="$collect eq 0"} class="mess-bar-collect" {else /} class="mess-bar-collect on" {/if} id="collect"></div>
			<div {if condition="$assist eq 0"} class="mess-bar-like" {else /} class="mess-bar-like on" {/if} id="assist"></div>
			<div style="line-height: 29px;" id="num">{$coua}</div>
		</div>
		
		<div class="am-g am-text-center pad_top_12 dmenu" style="padding-top: 4px;">
			<a href="{:url('Rural/play',array('id'=>$re['id']))}" class="am-u-sm-3">
				<img src="__HOME__/img/nd01.png" class="am-center" width="30" height="30" alt="">
				<div class="am-text-truncate">周边游</div>
			</a>
			<a href="{:url('Rural/goods',array('id'=>$re['id']))}" class="am-u-sm-3">
				<img src="__HOME__/img/nd02.png" class="am-center" width="30" height="30" alt="">
				<div class="am-text-truncate">当地特产</div>
			</a>
			<a href="{:url('Rural/hotel',array('id'=>$re['id']))}" class="am-u-sm-3">
				<img src="__HOME__/img/nd03.png" class="am-center" width="30" height="30" alt="">
				<div class="am-text-truncate">当地民宿</div>
			</a>
			<a href="http://apis.map.qq.com/uri/v1/routeplan?type=drive&to={$re.addr}&tocoord={$re.lats},{$re.longs}&policy=1&referer=myapp" class="am-u-sm-3">
				<img src="__HOME__/img/nd04.png" class="am-center" width="30" height="30" alt="">
				<div class="am-text-truncate">一键导航</div>
			</a>
		</div>
	</div>

	<script>

       $(".delete").click(function(){
		   var id = $(this).data("id");

		   $.ajax({
				type:"post",
				url:"__URL__/delete",
				data:{id:id},
				dataType:"text",
				success:function(re){
                   if(re == 0){
					   layer.msg("删除成功");
					   setTimeout("location.reload()",1000);
				   }else{
					   layer.msg("删除失败");
					   setTimeout("location.reload()",1000);
				   }
				}
			})
		   
	   })

	   $("#send").click(function(){
		    var content = $("#content").val();
            var nid = "{$re.id}"; 
			$.ajax({
				type:"post",
				url:"__URL__/save_assess",
				data:{content:content,g_id:nid},
				dataType:"text",
				success:function(re){
                   if(re == 0){
					   layer.msg("发表成功");
					   setTimeout("location.reload()",1000);
				   }
				   if(re == 1){
					   location.href="{:url('Login/login')}";
				   }
				   if(re == 2){
					   layer.msg("发表失败,请稍后再试");
					   setTimeout("location.reload()",1000);
				   }
				}
			})
	   })

	   $("#collect").click(function(){
		 
            var nid = "{$re.id}"; 
			$.ajax({
				type:"post",
				url:"__URL__/save_collect",
				data:{nid:nid},
				dataType:"text",
				success:function(re){
					if(re == 1){
					   location.href="{:url('Login/login')}";
				   }
				}
			})
	   })

	   $("#assist").click(function(){
		 
		 var nid = "{$re.id}"; 
		 $.ajax({
			 type:"post",
			 url:"__URL__/save_assist",
			 data:{nid:nid},
			 dataType:"text",
			 success:function(re){
				 if(re == 1){
					location.href="{:url('Login/login')}";
				}
			 }
		 })
	})

	   
	
	</script>
	

	<!-- <div class="pad_12 mar_btm_12 bg_white">
		<span>附近好玩儿</span>
	</div>
	<div class="list_box pad_lt_12 pad_btm_12">
		<a href="scenic_detail.html" class="mar_rt_12 mar_btm_12">
			<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

		</a>
		<a href="scenic_detail.html" class="mar_rt_12 mar_btm_12">
			<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

		</a>
		<a href="scenic_detail.html" class="mar_rt_12 mar_btm_12">
			<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
<ul class="am-text-xs col_nine">
	<li>实时人数：3999</li>
	<li>最佳容量：1.5万</li>
	<li>最大容量：2.5万</li>
</ul>

		</a>
	</div>

	<div class="pad_12 mar_btm_12 bg_white">
		<span>附近特产</span>
	</div>
	<div class="list_box pad_lt_12 pad_btm_12">
		<a href="scenic_detail.html" class="mar_rt_12 mar_btm_12">
			<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
		</a>
		<a href="scenic_detail.html" class="mar_rt_12 mar_btm_12">
			<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
		</a>
		<a href="scenic_detail.html" class="mar_rt_12 mar_btm_12">
			<div class="kind_thumb bg_cover mar_btm_6" style="background-image: url(__HOME__/img/common_pic.jpg);"><span class="kind_tag">top1</span></div>
<div class="flex_normal">
	<h5 class="flex_1 am-text-truncate ">滇西密境大理丽...</h5>
	<span class="mar_lt_6 am-text-xs col_deputy">舒适</span>
</div>
		</a>
	</div> -->


</body>

</html>