<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">

	<!-- 返回 -->
	<div class="back_box">
			<ul class="bread">
					<li>
					 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
					</li>
					<li>
					 <a href="{:url('Rural/index')}">乡村旅游</a>&nbsp;&gt;
					</li>
					<li>
					<a href="javascript:;">当地民宿</a>
					</li>
				   </ul>	
	</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<div class="p_12">
		<div class="travel_banner bd_radius bg_cover" style="background-image: url({$lb.image});"></div>
	</div>

	<div class="pad_12">
	  {volist name="res" id="vs" key="k"}	
	  <a href="{:url('Hotel/detail',array('id'=>$vs['id']))}" class="flex_normal pd_12 bd_btm">
		<img class="bd_radius mar_rt_12" src="{$vs.image}" width="130" height="90" alt="">
		<div class="flex_1">
			<div class="hotel_wrap">
				<div class="flex_1">
					<h3 class="am-text-truncate">{$vs.name}</h3>
					<div class=" col_nine">{$vs.addr}</div>
				</div>			
				<div class="flex_between">
					<span class="col_deputy">{$vs.score}诚信分</span>
					<div class="col_nine "><span class="col_main mar_rt_6 am-text-default">￥{$vs.money}</span>/人</div>
				</div>
			</div>
		</div>
	</a>
		{/volist}
	</div>

	

	<div class="no_data">没有更多数据~</div>

</body>

</html>