<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="bg_normal pad_btm">

		<div class="back_box">
				乡村旅游
				<!-- <a class="back_icon" href="javascript:history.back(-1)">
					<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
				</a>		 -->
			</div>
	<!-- 公共顶部 -->
{include file="public:top"}

	<div class="bd_btm_10"></div>
	<div class="flex_normal flex_wrap">
	  {volist name="res" id="v"}
		<a href="{:url('Rural/lister',array('id'=>$v['id']))}" class="travel_tre bg_white am-text-center">
			<img src="{$v.image}" width="30" height="30" alt="">
			<div class="mar_top_6">{$v.name}</div>
		</a>
	 {/volist}
	</div>

	<!-- 底部导航 -->
{include file="public:footer"}

</body>

</html>