<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="">
		<div class="back_box">
				{$re.name}
				<a class="back_icon" href="javascript:history.back(-1)">
					<img src="__HOME__/img/icon_right.png" width="6" height="11" alt="">
				</a>		
			</div>

	<!-- 公共顶部 -->
{include file="public:top"}
	
	<!-- 搜索框 -->
<div class="search_box p_12 bg_normal">
  <form method="get" action="">
	<div class="flex_normal">
		<div class="search_wrap pad_12 flex_1 bg_white bd_radius am-text-sm flex_between">
			<div class="search_location flex_normal pad_rt_12 mar_rt_12 col_main">
				<img class="mar_rt_6" src="__HOME__/img/icon_location.png" width="16" height="16" alt=""><span class="city"></span>
			</div>
			<input class="flex_1" type="text" name="title"  placeholder="请输入搜索关键词">
			<img class="mar_lt_12" src="__HOME__/img/icon_search.png" width="16" height="16" alt="">
		</div>
		<button class="mar_lt_12">搜索</button>
	</div>
</form>	
</div>
	
	<div class="p_12">
		<div class="travel_banner bd_radius bg_cover" style="background-image: url({$re.images});"></div>
	</div>

	<!-- 乡村旅游 -->
	<a href="javascript:;" class="flex_between p_12 bg_white">
		<div class="title_left am-text-lg">
			{$re.name}
		</div>
	</a>

	<div class="p_6">
		<div class="am-g">
				{volist name="res" id="v" }
			<div class="am-u-sm-6">
			
			 
				<div class="box_shadow bg_white bd_radius mar_btm_12">
					<a href="{:url('Rural/detail',array('id'=>$v['id']))}" class="am-block pic_big bg_cover" style="background-image: url({$v.image});"></a>
					<div class="p_12">
						<h3 class="pic_title am-text-sm mar_btm_6"><a href="{:url('Rural/detail',array('id'=>$v['id']))}">{$v.title}</a></h3>
						<div class="flex_between">
							<div class="flex_normal">
								<img class="bd_radius_50 mar_rt_6" src="{$v.photo}" width="20" height="20" alt="">
								<span class="am-text-xs">{$v.nickname}</span>
							</div>
							<div class="pic_scan am-text-xs">{$v.looks}</div>
						</div>
					</div>
				</div>
			
		
			
			</div>
			{/volist}
		
		</div>
	</div>

	<!-- 旅拍发布 -->
	<a class="am-block travel_icon" href="{:url('Publish/publish')}">
		<img class="bd_radius_50 box_shadow" src="__HOME__/img/icon_add.png" width="50" height="50" alt="">
	</a>

</body>

</html>