<!DOCTYPE html>
<html lang="en">

{include file="public:header"}

<body class="bg_normal">

		<div class="back_box">
				
				<ul class="bread">
						<li>
						 <a href="{:url('Index/index')}">首页</a>&nbsp;&gt;
						</li>
						<li>
						 <a href="{:url('User/my_setting')}">通用设置</a>&nbsp;&gt;
						</li>
						<li>
						<a href="javascript:;">意见反馈</a>
						</li>
					   </ul>			
			</div>

	<!-- 公共顶部 -->
{include file="public:top"}

	<form action="#">
		
		<div class="bg_white">
			<img src="{$re.image}" width="100%" alt="">
		</div>
		
		<div class="bd_btm_10">
			<div class="p_12 bg_white">
				<h6 class="mar_btm_12">问题描述</h6>
				<ul class="flex_normal flex_wrap ">
					<li class="feed_item active" data-type="1">功能异常</li>
					<li class="feed_item" data-type="2" >体验问题</li>
					<li class="feed_item" data-type="3" >其他问题</li>
				</ul>
				<textarea class="feed_area bg_white" name="content" placeholder="请您输入对我们的建议或意见200字以内..." required></textarea>
			</div>
		</div>

		<div class="p_12 flex_normal bg_white">
			<label class="mar_rt_12" for="in_tel">联系方式</label>
			<input type="number" id="in_tel" name="phone" placeholder="请输入手机号码~" required >
		</div>

		<div class="confirm_wrap p_12">
			<button class="confirm_btn" id="btn" type="button">确认</button>
		</div>
	</form>

	<script>
		$(function(){
			var type = 1 ;
			$('.feed_item').click(function(){
				switchClas($(this),'active')
				type = $(this).data('type');

			})

			$("#btn").click(function(){
				

				var content = $('textarea[name=content]').val();

				if($.trim(content).length > 200 || $.trim(content).length == 0){
					layer.msg("内容不得为空或超过200字");
					return false;
				}

				var phone = $('input[name=phone]').val();
	
				var phone_reg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
				
				if (!phone_reg.test(phone)) {
					layer.msg("请输入正确的手机号码");
					return false;
				}

				$.ajax({
					type:"post",
					url:"{:url('User/save_feed')}",
					data:{type:type,content:content,phone:phone},
					dataType:"text",
					success:function(re){
                       if(re == 0){
						   layer.msg("提交成功");
						   setTimeout("location.reload()",2000);
					   }
					   if(re == 1){
						   layer.msg("今日已经提交过了,请耐心等待回复");
						   setTimeout("location.reload()",2000);
					   }
					   if(re == 2){
						   layer.msg("系统繁忙请稍后再试");
						   setTimeout("location.reload()",2000);
					   }
					} 
				})
				


			})



		})
	</script>

</body>

</html>